[2013-02-01 10:56] Cmssspl opened #11 "Phalcon\Mvc\View\Engine\Twig() change to:"
https://gist.github.com/4690638

I'm add declaration twig function as is done in volts. ;-)

[2013-02-01 12:12] Cmssspl opened #12 "Partial bug if view have expand .twig and base url"
array(
    '.twig' => 'Phalcon\Mvc\View\Engine\Twig',
    '.phtml' => 'Phalcon\Mvc\View\Engine\Php'
)

Use: $view->partial($partialPath);
if view have expand phtml works ok, if twig return is empy.

[2013-02-04 07:07] #11 closed, assigned to nobody

[2013-02-07 19:07] #12 closed, assigned to nobody

[2013-02-07 21:19] Cmssspl opened #13 "#12 cdn Bug"
New it work, but not as expected! Do not load the file at the time of use, in modmencie call {{content ()}}! It can not be, method becomes totally not useful, it is better to use level layouts now!

And plzz change engine twig:
https://gist.github.com/Cmssspl/4690638
I stated earlier this file, do not know why you use only one version, not the current one. :/

[2013-02-07 22:52] #13 closed, assigned to nobody

[2013-02-09 09:48] sirian opened #14 "Add compatability with composer"
subj (http://getcomposer.org/)

[2013-02-15 13:23] tmihalik opened #16 "[NFR] Translation adapter using relational databases"
Phalcon\Translate\Adapter\Database is missing, while it's referenced in incubator README.

[2013-04-06 22:22] johnnyajax opened #18 "Error Handler array syntax"
Due to new php 5.4 array syntax Error Handler extension "out of the box" won't work on 5.3.

[2013-04-06 22:43] #14 closed, assigned to nobody

[2013-04-06 22:44] #16 closed, assigned to nobody

[2013-04-27 04:25] salarmehr opened #19 "ConfirmationOf"
EqualTo is a better name for ConfirmationOf validator.

Also please: password_confirmation -> passwordConfirmation

[2013-06-09 17:41] atelgero opened #22 "Logout doesn't work with Session Database Adapter"
Adapter and DI:

[code]

Logout action:

[code]

After logging out sesion creates immediately with the same values:

[code]

With phpredis adapter everything is Ok.

[2013-10-02 15:29] sascha-wojewsky-IPD opened #44 "Phalcon\Logger\Adapter\Firephp: Error"
I've a problem with the FirePHP-Logger.
It looks like it always use the FirePHP-Logger inside Phalcon and not the incubator class.

This is the error:
["There was a problem wri...ePHP/FirebugConsole/0.1",
TypeError: mode is undefined
Filtered chrome url chrome://firephp/content/lib/renderer.js
]

I'm using phalcon 1.2.3

[2013-10-04 15:03] #44 closed, assigned to nobody

[2013-10-16 16:39] #18 closed, assigned to nobody

[2013-10-16 16:39] #22 closed, assigned to nobody

[2013-10-26 14:28] GasimGasimzada opened #49 "Don't we need to delete the Session ID from Memcached?"
Is it not needed to delete the SessionID from Memcached when we call destroy?

Thanks,
Gasim

[2013-11-07 08:38] #49 closed, assigned to nobody

[2013-11-08 08:09] ogarbe opened #56 "Version / Release"
Hi,

can you add tags on incubator so that composer depends on this version ?

Doing this we could update incubator when we update phalcon so that class which will be integrated inside the C version disappear from the incubator version.

Regards

[2013-11-15 00:15] le51 opened #58 "typo error in gettext adapter"
line 73, there is a double semi column:
$translation = gettext($index);;

(will have to learn github a bit more to know how to submit a patch) !

[2013-12-05 17:37] chiefGui opened #69 "Table scheme"
Hello!

As I asked in the forums (http://forum.phalconphp.com/discussion/1289/translation-table-scheme), how does Phalcon knows which is the language that the user is looking for?

I mean, the table scheme isn't consistent. There is not a column that specifies which is the idiom of the language context.

[2013-12-10 10:43] #69 closed, assigned to nobody

[2013-12-11 16:05] moderndeveloperllc opened #78 "Phalcon/Cache/Backend/Memcached.php is NOT Memcached"
Contrary to it's name, Phalcon/Cache/Backend/Memcached.php is using the _Memcache_ extension, **NOT** the _Memcached_ extension. This should either be renamed or rewritten as these are not the same thing and will cause further confusion of an already confusing topic.

[code]

[2013-12-30 15:37] jmaitrehenry opened #86 "Twig implementation of "assets tags"
Hello,

I try to use assets addCSS and addJS but it doesn't work, and I would like to know the difference between theses two and stylesheetLink / javascriptInclude function added to Twig. The last two functions work exactly as the volt implementation work (using asset service).

Is the asset tag work correctly ?
What the difference with stylesheetLink / javascriptInclude function ?

Thanks

[2014-01-01 18:40] digitronac opened #88 "$di and $config not passed in setUp methods on functional and model test case"
Getting following message when running phpunit on app using \Phalcon\Test\FunctionalTestCase:

Strict standards: Declaration of Phalcon\Test\ModelTestCase::setUp() should be compatible with Phalcon\Test\UnitTestCase::setUp(Phalcon\DiInterface $di = NULL, Phalcon\Config $config = NULL)

Seems FunctionalTestCase and ModelTestCase are not passing $di and $config params to parent setUp methods

[2014-01-01 20:00] digitronac opened #89 "missing PhApplication and DiInterface use statements in FunctionalTestCase.php"
$application is not initialized properly when $di is passed to setup because of missing use statements

line 57 checks for instance of \Phalcon\Test\DiInterface instead of \Phalcon\DiInterface and PhApplication alias on line 58 is non-existant

[2014-01-02 20:56] #88 closed, assigned to nobody

[2014-01-02 20:56] #89 closed, assigned to nobody

[2014-01-06 15:59] denji opened #92 "Template Engines"
## Please add
- [Rain 3](http://www.raintpl.com/)
- [Haanga](http://haanga.org/)
- [Fenom](https://github.com/bzick/fenom)
## Links
- [[Benchmark] Smarty3 vs Twig vs Fenom](https://github.com/bzick/fenom/blob/master/docs/benchmark.md)
- [[benchmark] Twig vs Haanga, Mustache, RainTPL, Smarty](https://github.com/fabpot/Twig/issues/1089)
- [PHP Template Engine Comparison](http://phpcomparison.net/ind

[2014-01-06 18:53] #86 closed, assigned to nobody

[2014-01-07 11:26] digitronac opened #93 "FunctionalTestCase::assertResponseCode fails when code passed as integer"
stristr check in assertResponseCode makes test fail when status code is passed as integer, even though status code is ok

[2014-01-08 16:45] #93 closed, assigned to nobody

[2014-01-08 20:49] #78 closed, assigned to nobody

[2014-01-10 09:51] tapan-kumar-thapa opened #95 "Tube Ignore Method - Request"
Hi,

Tube ignore method is not available under Beanstalk Extended class.

"https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Queue/Beanstalk/Extended.php"

Can anyone add the same please? Or may be can give some advice on the same?

Thanks & Regards
Tapan Thapa

[2014-01-11 06:23] endeveit opened #100 "Coding style"
Hello everyone.
In #79 @tmihalik changed the code indention to tabs instead of spaces.
This is violates [PSR-2](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md#1-overview).
I believe that project should follow accepted community standards.
If community members vote for it, I'll run a php-cs-fixer on the sources.
Also maybe we should setup jenkins ci with P

[2014-01-12 08:07] #100 closed, assigned to nobody

[2014-01-16 08:53] #19 closed, assigned to nobody

[2014-01-16 09:17] #58 closed, assigned to nobody

[2014-01-16 13:20] #56 closed, assigned to nobody

[2014-01-16 14:21] #95 closed, assigned to nobody

[2014-01-20 11:46] endeveit opened #115 "Memcache backend"
Hi.

I wonder do we need Phalcon\Cache\Backend\Memcache under the source control if it's already exists in main repository https://github.com/phalcon/cphalcon/blob/master/ext/cache/backend/memcache.c ?

@phalcon @xboston @sjinks @niden

[2014-01-22 05:45] #115 closed, assigned to nobody

[2014-01-22 15:51] sascha-wojewsky-IPD opened #120 "Cache\Backend\Redis add prefix support"
Hi,

could you add prefix support configured in constructor options?
Options like this:
http://docs.phalconphp.com/en/latest/reference/cache.html#backend-adapters

[2014-01-22 17:36] sascha-wojewsky-IPD opened #121 "Translate/Adapter/Gettext.php substition don't work anymore"
Hi,

with the new version this don't work any more:

[code]

The Result:
My name is %name%

I think the problem is line 93ff
It has to be:

[code]

[2014-01-23 15:52] #121 closed, assigned to nobody

[2014-01-23 16:11] #120 closed, assigned to endeveit

[2014-01-23 16:45] quasipickle opened #127 "SessionDatabaseAdapter::remove() doesn't work [solved]"
When calling $this->session->remove('feedback'), the session isn't getting updated.

My bootstrap.php:

[code]

My code simply calls:
`$this->session->remove('feedback');`

I'm pretty sure I've set everything up correctly, because calls to $this->session->has()/set()/get()/destroy() all function as expected.

I'm not sure if the problem lies with this class, Phalcon, or (more than likely) me.

[2014-01-23 16:48] #127 closed, assigned to nobody

[2014-02-01 00:14] iby opened #132 "Is there a typo in Error\Handler or am I imagining things?"
Is that tilde before zero supposed to do something? [error_reporting(~0);](https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Error/Handler.php#L45)

[2014-02-01 02:28] #132 closed, assigned to nobody

[2014-02-03 16:05] sascha-wojewsky-IPD opened #133 "translate gettext with plural?"
Hi,

is it possible to add pluralversion, like ngettext to this class?

Thanks a lot.

[2014-02-05 19:45] Pixelime opened #135 "Mustache template can't call PHP magic methods"
Hi guys,
I'm having a weird issue with Phalcon and Mustache templates.

I created a PHP class that have private attributes and I created the __get() magic in order to get them.

Even if from PHP everything works fine, in the mustache code it seems it doesn't use the magic method __get...

Please help me. Is anybody experiencing the same issue?
thanks!

[2014-02-13 03:21] #133 closed, assigned to nobody

[2014-02-13 19:26] calinrada opened #137 "Implement Phalcon\Cache\BackendInterface::flush in REDIS class"
Please implement flush method so Redis class can be compatible with Phalcon 1.3.0

[code]

[2014-02-14 09:38] #137 closed, assigned to nobody

[2014-02-14 09:40] calinrada opened #139 "Missing $context from Phalcon\Logger\Adapter::logInternal method"
[code]

We need to add $context so this class can be compatible with Phalcon 1.3.0

[2014-02-14 13:19] #139 closed, assigned to nobody

[2014-03-04 18:18] shruthi-ananth opened #151 "Unable to install incubator with Phalcon 1.2.6"
I am trying to test redis backend caching and I am unable to install incubator through composer since I'm on Phalcon 1.2.6. Can anyone help with this issue?

Thanks!

[2014-03-06 16:39] #151 closed, assigned to nobody

[2014-03-17 16:06] hasan opened #154 "composer install and update error"
I'm getting the following error
![annwsbx](https://f.cloud.github.com/assets/1433911/2438098/0fb06bb2-adee-11e3-9a59-49437fd3b7ff.png)

phalcon version : 1.2.6

composer.json is a

<code>
{
    "require":{
        "phpmailer/phpmailer": "v5.2.7",
        "phalcon/incubator": "v1.2.5"
    }
}
</code>

<code>
 Problem 1
    - Installation request for phalcon/incubator v1.2.5 -> satisfiable by phalco

[2014-03-24 14:44] joearcher opened #156 "Session\Adapter\Database session->destroy() does not destroy session."
Calling $session->destroy() does not destroy the session or remove the database record for me. No error is returned.

[2014-03-24 16:36] #156 closed, assigned to nobody

[2014-04-07 21:11] ogarbe opened #164 "Composer autoloader"
Since we like Phalcon and composer, we're using both of them.

What I don't like is to have two different autoloaders so I wrote this part of code (which i'm not very proud of), to be able to use Phalcon autoloader instead of composer one :

[code]

this code doesn't take care of PSR4 composer parts, but at this time it does the job.

What do you think of it ?

@phalcon : I've got one problem with

[2014-05-08 20:53] frangeris opened #174 "Why the cache content using Twig doesn't get created?"
In my service I have this:

[code]

Twig work's fine showing the content, but I wanna cache the content inside my directory `$config->application->cacheDir`, volt work's great and create the "compiled" files, but why twig doesn't if I'm passing the correct option `cache` = directory....?

Thank's for help..! :)

[2014-05-20 10:25] #174 closed, assigned to nobody

[2014-05-23 05:38] digitalmediums opened #175 "Phalcon\Queue\Beanstalk\Extended::getTubes() hangs blocking"
getTubes() calls getResponseLines() which calls Phalcon\Queue\Beanstalk::write('list-tubes') and tries to read the result.  The write never returns and hangs forever.

using PHP 5.5 on Centos 6.5
http://phalcon.agent-j.ru/en/1.3.0/Phalcon/Queue/Beanstalk#write-details claims Phalcon\Queue\Beanstalk::write takes now args

I've run the unit test in cphalcon (Output below) and everything works.  My b

[2014-05-23 05:41] digitalmediums opened #176 "Documentation for Beanstalkd\Extended is broken"
Documentation at https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Queue/Beanstalk gives an example script to monitor the queue.  It makes a reference to $beanstalk when it should use $queue as in the example below.  I've also reported a second issue that this Class is broken as getTubes() which is used in the foreach is broken and hangs forever.

<pre>
#!/usr/bin/env php
<?php
use

[2014-05-28 21:52] adamdama opened #183 "Phalcon\Mvc\Model\Validator\ConfirmationOf appends two messages"
The confirmationOf validator class appends two messages to the model which means that when looping validation messages the confirmation failure is printed twice.

This could be avoided by checking which of the messages had already been output and skipping some, however I think that the error message should only be stored once.

I suppose the reason the message is appended twice is so that it is re

[2014-05-29 23:06] #183 closed, assigned to nobody

[2014-06-02 16:20] #176 closed, assigned to endeveit

[2014-06-02 17:10] #175 closed, assigned to endeveit

[2014-06-16 06:18] mattrmiller opened #193 "Deleting Values from session doesn't work, when no data is left."
I found this when setting flash messages and they were the only data in the session. The flash messages would stay over and over again. This is because the class does not allow all data/variables to be removed, as you are checking data for empty.

In Phalcon\Session\Adapter\Database.php,

[code]

should be...

[code]

So that data variables can be deleted, and written back to the session/db.

[2014-06-30 20:57] marek1989 opened #200 "Translate Gettext - Already in Phalcon 1.3.2"
The \Phalcon\Translate\Adapter\Gettext class is already in Phalcon 1.3.2, but with a bit different configuration like e.g. defaultDomain. Could all options be moved to Phalcon and then this be renamed or removed and documented on Phalcon? This is causing a conflict, as application is taking by default class from Phalcon.

[2014-07-04 02:41] shawti opened #201 "Phalcon\Http\Client\Provider\Curl can't upload image file"
Here is my environment:
php - v5.5.14
curl - v7.30.0
php-curl - v5.5.14
phalcon - v1.3.2
os - mac osx v10.9.3

I got the image as an array instead of a file in the remote when I upload an image file by Phalcon\Http\Client\Provider\Curl.
But I can uploaded it by the default curl which built-in php.

I guess the difference of them(the two way) may be the options of the CURLOPT.
I'm trying to  locati

[2014-07-15 14:25] rs324 opened #202 "the requested PHP extension phalcon has the wrong version (1.3.2) installed"
{
    "require": {
        "phalcon/incubator": "v1.2.5"
    }
}

Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for phalcon/incubator v1.2.5 -> satisfiable by phalcon/incubator[v1.2.5].
    - phalcon/incubator v1.2.5 requires ext-

[2014-07-21 08:20] siciarek opened #205 "Pager does not have access to total item count"
Pager does not have access to total item count

paginateResult is declared as protected so there is no way to obtain total item count.

Posible solution :
add method:

[code]

[2014-07-23 15:02] #201 closed, assigned to nobody

[2014-07-23 15:04] #202 closed, assigned to nobody

[2014-07-23 15:08] #205 closed, assigned to nobody

[2014-07-28 11:16] dschissler opened #207 "Translate Gettext method names are too general for xgettext"
Rather than add specific view format parsers and ballooning out my project dependencies and making it much more difficult to setup I am instead pointing xgettext at the compiled Volt views on the server side and the compiled views in the webpack bundle for the client side.

In general I think that having very generally named methods like "query" is a good thing but in this particular case it makes

[2014-08-28 19:14] hishamaborob opened #214 "No encoding defined in Gettext Translation adapter"
In file line codes:
https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Translate/Adapter/Gettext.php#L77
putenv("LC_ALL=" . $options['locale']);
https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Translate/Adapter/Gettext.php#L78
setlocale(LC_ALL, $options['locale']);

There is no encoding defined, that will cause problems with some functions like htmlentities or json_e

[2014-09-02 21:22] austerus opened #215 "Bad number of parameters in Phalcon\Config\Adapter\Yaml"
If I use the "Phalcon\Config\Adapter\Yaml" class from the incubator as described in the readme:

    define('APPROOT', dirname(__DIR__));
    define('CONFKEY', 'secret');

    $config = new Phalcon\Config\Adapter\Yaml('path/config.yml', array(
        '!decrypt' => function($value) {
            return (new Phalcon\Crypt)->setCipher('blowfish')->decryptBase64($value, CONFKEY);
        },
        '

[2014-09-11 10:32] #214 closed, assigned to nobody

[2014-09-12 10:00] #92 closed, assigned to nobody

[2014-09-12 10:00] #135 closed, assigned to nobody

[2014-09-12 10:00] #154 closed, assigned to nobody

[2014-09-12 10:01] #164 closed, assigned to nobody

[2014-09-12 10:01] #193 closed, assigned to nobody

[2014-09-30 11:45] lucvht opened #221 "isAllowed in Phalcon\Acl\Adapter\Database not working for postgresql"
Tried to use `Phalcon\Acl\Adapter\Database` with Postgresql which failed on the `isAllowed` function. The SQL `SELECT` statement is not compatible with Postgresql because by default you cannot do math with boolean values. This can be fixed by changing the `ORDER BY` clause:

[code]

but I assume this will break MySQL/SQLite ?

[2014-09-30 20:34] advokata opened #222 "Phalcon\Mailer - More Examples"
Please add more examples like createMessageFromView. And explain how to add swift to DI

[2014-10-25 21:17] linxlad opened #228 "Parameter "defaultDomain" is required"
This is my composer file -> http://laravel.io/bin/yLyVa
I have my folder structure as so -> http://grab.by/BAke (there is a .mo file in my server)
I have this in my app/config/loader.php -> http://laravel.io/bin/qr6nO
I have this in my controller -> http://laravel.io/bin/oN4PQ

Yet I get this error: Parameter "defaultDomain" is required?

Anything I am doing wrong?

[2014-11-21 21:34] dschissler opened #234 "Incubator doesn't work for me with composer when using Phalcon 1.3.3."
[code]

[2014-12-10 21:11] cullsin opened #238 "SQLSTATE[HY093]: Invalid parameter number"
Hi,

I have upgrade the incubator plugin with http://invo.phalconphp.com/ project.

I have upgraded the DB cache in services. php and I have got " SQLSTATE[HY093]: Invalid parameter number" Exception for all the queries .

[code]

Please let me know If I am missing anything .

[2014-12-12 16:14] yk1711 opened #239 "Typo in documentation for Twig adapter"
[code]

`$option` should be `$options`

[2014-12-16 12:21] #239 closed, assigned to nobody

[2014-12-17 15:00] wcoppens opened #242 "Incubator Yaml parser not working with Phalcon > 1.3.3"
It seems namespace `Phalcon\Config\Adapter\Yaml` is overwritten by the cphalcon library in version 1.3.3 (see http://api.phalconphp.com/en/1.3.3/Phalcon/Config/Adapter/Yaml#__construct-details)

I thought they were going to port the yaml parser from @freekzy, however it seems it differs quite much, starting with incompatibility in the constructor (not accepting  callbacks) and introducing breaking

[2014-12-19 16:45] dcboy opened #243 "is thers support Beanstalk multi server?"
i want to support multi beanstalk server

[2014-12-20 13:40] #242 closed, assigned to nobody

[2014-12-20 13:41] #234 closed, assigned to nobody

[2014-12-20 13:41] #228 closed, assigned to nobody

[2014-12-30 10:26] arius86 opened #245 "release for 1.3.x?"
Can you prepare release for 1.3.x version of Phalcon? I really like incubator but using dev-master is not the best way for production environment :smile:

[2014-12-31 07:22] #243 closed, assigned to nobody

[2015-01-16 10:15] dschissler commented on #234
@MalyshevDmitry @phalcon @niden I'm requesting that this be reopened.  I want to see about getting some of my code into the Incubator and so I'm going back to playing with Incubator but a tagged released is broken.  I understand that dev-master works but I think that its unacceptable to expect people to necessarily develop off of the master.

The Incubator release needs a tagged and composerized 1

[2015-01-17 00:54] kenjis commented on #245
Tag `v1.3.4` was created.

[2015-01-17 01:15] #245 closed

[2015-01-20 16:56] michaelotte opened #248 "\Phalcon\Session\Adapter\Database.php Garbage collector"
The Garbage Collector gc-function should also delete created but not modified sessions:

[code]

[2015-01-20 20:21] sergeyklay opened #250 "Improve Travis CI (update Composer)"
Hi!

From time to time during the test into Travis CI I see a message like this:

Can we update our `.travis.yml` such a way to get rid of these warnings, eg add `composer self-update`, or something like this?

Thanks!

[2015-01-29 14:51] calinrada opened #259 "Moving nodes is not working"
I have tried to use moveAsFirst and moveAsLast for moving a root node (making it child of another root), but it is not working.

Fruits
Apples

[code]

MySQL logs:

[code]

[2015-02-06 22:51] stanislav-web opened #262 "https://github.com/phalcon/incubator/blob/v1.3.4/composer.json"
ext-phalcon 1.2.4 ? Oo? Cant install , need v1.3.4. dev-master dont resolve the problem

[2015-02-06 23:10] sergeyklay commented on #262
The minimum required version. What exactly issue?

[2015-02-06 23:27] stanislav-web commented on #262
А, понял... не в этом проблема... Фалькон установлен, но в консоли не виден как расширение
[code]
composer парсит расширения и подбирает пакеты.
Фалькон установлен 1.3.4 и прекрасно работает, phpinfo() показывает что стоит.. Странно

[2015-02-07 00:00] sergeyklay commented on #262
@stanislav-web  привет

Конкретно в твоём выводе `php -m`, который ты показал выше, нет `phalcon`.
Можешь в консоли вывести вот это?
[code]

[2015-02-07 00:13] stanislav-web commented on #262
Да , есть там все, пишу же на нем. Только нет в консоли.. Я исправил, при компиляции расширения, я не поставил символическую ссылку в каталог /etc/php5/cli/conf.d/phalcon.ini .. он по умолчанию стоит в /etc/php5/mods-available/phalcon.ini ... Поэтому в консоли его не видно как расширение

[2015-02-07 00:36] sergeyklay commented on #262
Композер ищет расширения в cli режиме

[2015-02-07 00:36] #262 closed

[2015-02-12 19:09] cullsin opened #264 "Phalcon/Session/Adapter/Database.php - First Time Login"
Hi,

Seems like Session handling through Database is not working for first time login .

I am doing following in session controller,
$this->session->set("name", "raja");
$this->response->redirect("index");

I am doing following in Index controller,

$name = $this->session->get("name");

$name is empty for the first time, But when I check the table "session_data", data exists in the table.

Is it b

[2015-02-12 23:56] ovr commented on #264
$this->session->start() ?

[2015-02-13 00:00] cullsin commented on #264
Session Start is in the app services file .

[2015-02-15 21:55] cullsin commented on #264
Hi,

Any update on this ?

Raja K

[2015-02-20 14:10] ikas opened #266 "Phalcon\Session\Adapter\Database missing session_register_shutdown()"
Phalcon\Session\Adapter\Database missing session_register_shutdown() call in constructor.

Using the database adapter, if a PHP fatal error occurs and the method stated above is not called, there is a segmentation fault in Apache (I suspect because of Phalcon), and the fatal error message is not displayed.

[2015-02-20 23:35] sergeyklay commented on #266
So, what do you suggest?

[2015-02-21 01:02] ikas commented on #266
Literally what I said, add 'session_register_shutdown()' to the constructor.

http://php.net/manual/en/function.session-set-save-handler.php

Above is the link to the php manual. In that page, there is a section warning about this exact issue.

[2015-02-21 01:04] ikas commented on #266
"When using objects as session save handlers, it is important to register the shutdown function with PHP to avoid unexpected side-effects from the way PHP internally destroys objects on shutdown and may prevent the write and close from being called. Typically you should register 'session_write_close' using the register_shutdown_function() function."

From the link i put above.

[2015-02-21 11:55] sergeyklay commented on #266
Okay, do PR please

[2015-02-26 04:23] cullsin commented on #264
Hi,

Any update on this ?

Raja K

[2015-03-01 02:39] cullsin commented on #264
Thanks, I saw the code update and it's working great

[2015-03-01 02:39] #264 closed

[2015-03-01 02:46] cullsin opened #270 "Phalcon - Config, Service and Loader - Driven from Database"
Hi,

I would like to convert Config, Service and Loader php files into a Database / table driven object.

Can you suggest me how do i do that ? I am stuck at Services configurations as I am unable to bring

the framework.

Please suggest me on this.

[2015-03-01 14:26] endeveit commented on #270
Hi.
Could you please provide example?
I cannot imagine situation when Service and Loader are stored in database.

[2015-03-01 17:09] cullsin commented on #270
Hi,

I want to configure different Service ( enable / Disable ) and Loader, Config.ini  in the database for multiple sites .

I didn't mean that I am going to store Services.php and Loader.php in database.

So, from the admin website, I can generate $di ( dependency Injection object ) for different site and

put it in the memcache system.

Please let me know your comments on the same .

Raja K

[2015-03-15 07:09] MCGamer20000 opened #280 "Twig won't work with the tag functions?"
Okay, I can NOT figure out how to do the Volt equivalent of `{{ textField('username', 'size': 30) }}` in Twig. I've been stuck on this problem for an hour. Can someone please confirm that I'm not just going crazy?

[2015-03-15 07:14] MCGamer20000 commented on #280
`{{ textField({0: 'username', 'size': 30}) }}`
Okay, surely that can't be the intended syntax... It works, but that just looks like a workaround to me. Is there any better syntax to use?

[2015-03-21 17:46] lixiphp opened #285 "Phalcon\Queue\Beanstalk\Extended fault readme document."
[code]

do you mean add Worker or add Function ?

[code]

why rand the worker, it makes the fault function called.

can you fixed the document? Thanks a lot.

[2015-03-27 18:07] endeveit commented on #285
1. «worker» is any valid callable callback.
E.g.
[code]

2. Callbacks are attached to tubes:
[code]

Where is mistakes?

[2015-03-27 18:09] endeveit commented on #280
Unfortunately no.
This is a feature of phalcon.

[2015-03-27 18:09] #280 closed

[2015-03-31 14:27] lixiphp commented on #285
controller.php
[code]
worker.php
[code]
the worker random run deleteVideo or processVideo worker for processVideo tube(task), because random the workers to run the task. is it right?

[2015-03-31 15:30] endeveit commented on #285
Nope.
I'm sorry I've provided incorrect example.
It should be
[code]

[2015-04-04 17:11] asgvard commented on #259
I have the similar issue.
Using many-roots tree. When im trying to move a node from the one root to another, all it does correctly - is recalculates the "right" property of the _target_ root node.
What it does not perform correctly:
1) Doesn't recompute the _source_ root node "right" attribute. Assuming that we basically removing a node from tree1 and adding it to tree2, the source root node "righ

[2015-04-07 14:47] valVk opened #293 "Release for 2.x?"
Hi,

I have a problem during ./composer.phar install

[code]

[2015-04-08 05:56] sergeyklay commented on #293
Fixed

[2015-04-08 05:56] #293 closed

[2015-04-10 17:47] cullsin opened #294 "Phalcon Session - inactive Sessions"
Hi,

I would like to know how do I remove the unused Sessions from the session_data. This happens when the user close the browser. Is there any way to get the list of Inactive Sessions from the database and I can trigger the event.

I could also trigger the event for browser close, But let me know your suggestion .

Raja K

[2015-04-13 02:30] chrisgo commented on #293
I'm still getting the same error

`composer require phalcon/incubator:dev-master`

[2015-04-13 10:16] valVk opened #298 "Declaration of Phalcon\Validation\Validator\Db\Uniqueness::validate() must be compatible with Phalcon\Validation\ValidatorInterface"
[code]

Fix

[code]

[2015-04-13 19:49] sergeyklay commented on #298
Can u do PR please?

[2015-04-14 06:03] sergeyklay commented on #293
[code]

[2015-04-14 07:53] valVk commented on #298
I forgot to notice that this is Issue for Phalcon 2.
Sure I will do that

[2015-04-14 16:02] #298 closed

[2015-04-14 23:32] valVk opened #300 "Why method PageInRange was ommitted?"
https://github.com/phalcon/incubator/blob/1.3.0/Library/Phalcon/Paginator/Pager.php#L169

[2015-04-30 08:34] yergo opened #318 "Session\Adapter\Database never starts"
I found that after changes of e3b10837444f166fc56e1c7e1685f35ecb72ad45, where method `::start()` was overriden, sessions running on database adapter are never starting - at least not where their are configured in way described on readme file.

No errors, just not working. Calling `start()` method does nothing too. Looks like `parent::start()` is required somewhere.

Edit:

Got a quick fix for it:

[2015-04-30 08:55] sergeyklay commented on #318
@yergo Can u do PR please?

[2015-04-30 09:28] yergo commented on #318
Not really. First of all, I'm writing this from job and this issue already stopped me for a while. Second thing is I would gladly revert whole e3b10837444f166fc56e1c7e1685f35ecb72ad45, but I have no idea if I should because of

will not/should not be used.

Feeling like something is behind this.

[2015-04-30 09:32] sergeyklay commented on #318
@Mechzeit ?

[2015-04-30 10:44] sergeyklay opened #320 "Issue #319"
Need test for #319

[2015-04-30 12:36] sergeyklay commented on #318
Solved via #319

[2015-04-30 12:36] #318 closed

[2015-05-02 06:51] david-hubner commented on #259
Hi, I had the same problem, so I completelly rewrote method moveNode($target, $key, $levelUp)

I ended up with this code

<pre>
/**
 * Moves node to new place
 *
 * @author  David Hübner <david.hubner at google.com>
 * @param  \Phalcon\Mvc\ModelInterface $target
 * @param  int $key
 * @param  int $levelUp
 * @return  boolean
 * @throws \Phalcon\Mvc\Model\Exception
 */
private function moveNode($ta

[2015-05-02 11:34] CawaKharkov opened #322 "[2.0.x] View\Engine compatlibity"
**\Phalcon\Mvc\View\Engine\Twig::construct()** must be compatible with **\Phalcon\Mvc\View\EngineInterface::__construct($view, \Phalcon\DiInterface $dependencyInjector = null)**

\Phalcon\Mvc\View\Engine\Twig::__construct:
[code]

[2015-05-02 11:39] sergeyklay commented on #322
This valid only for Phalcon 2.x

[2015-05-02 11:42] CawaKharkov commented on #322
Yes, I know. But there's no branch for 2.0  yet.

[2015-05-02 11:49] sergeyklay commented on #322
Well, we need 2.0.x branch

[2015-05-02 11:56] sergeyklay commented on #322
@CawaKharkov Can u please do PR into 2.0.x please?

[2015-05-02 11:58] CawaKharkov commented on #322
Yes, I will, in a few hours I think.

[2015-05-02 12:18] sergeyklay commented on #285
@lixiphp issue can be closed?

[2015-05-02 12:19] #250 closed

[2015-05-02 12:21] sergeyklay commented on #222
@advokata  this is solved?

[2015-05-02 12:25] #266 closed

[2015-05-02 12:26] #320 closed

[2015-05-02 15:14] CawaKharkov commented on #322
#323 PR

[2015-05-04 01:51] lixiphp commented on #285
@sergeyklay Thank your response, but I still test the worker working incorrectly, the processVideo job run in processImage worker sometime, anybody meet the same situation?

[2015-05-04 01:52] endeveit commented on #285
@lixiphp this is correct.
One worker can process different jobs.

[2015-05-04 01:56] endeveit commented on #285
If you want to processVideo and processImage in different threads, you should split it to different files.

process-video.php:
[code]

process-image.php
[code]

[2015-05-04 02:00] lixiphp commented on #285
@endeveit yes, I do it like your suggestion in different php scripts, but in a same php script, the worker not run with the same name worker as I specify. is it right?

[2015-05-04 02:01] endeveit commented on #285
What did yo mean?
Could you please provide example.

[2015-05-04 08:55] michanismus opened #325 "[2.0.x] NestedSet Behavior"
The following functions are not compatible with Phalcon 2.0.x:

__construct -> $options = null
notify -> \Phalcon\Mvc\ModelInterface $model
missingMethod -> \Phalcon\Mvc\ModelInterface $model

[2015-05-04 09:40] yergo commented on #294
Assuming you use Adapter/Database, `gc` method should do this for you if you have properly configured `session.gc_maxlifetime`. If not, there may be an issue.

[2015-05-04 11:19] advokata commented on #222
I didn't try again. I have switched to Phalcon\Ext\Mailer which is the same but without this bug.

[2015-05-04 11:36] #222 closed

[2015-05-04 18:21] hardlick opened #326 "no Memcache Adapter on 2.0.x branch"
Hi, in 2.0.x branch no Memcache Adapter why?

[2015-05-04 18:23] sergeyklay commented on #326
Adapter for ... ?

[2015-05-04 18:40] hardlick commented on #326
Memcached Adapter, incubator no more extend for memcached adapter on 2.0.x ?

[2015-05-04 18:50] sergeyklay commented on #326
Adapter for Session, Cache, Annotations, etc.? What of adapter?

[2015-05-04 20:34] hardlick commented on #326
ohhh, for Session...

[2015-05-04 20:39] sergeyklay commented on #326
Incubator 2.0.x branch for Phalcon 2.x. Memcache session adapter for Phalcon 2.x is available from Phalcon 2.x out of box.

[2015-05-04 22:14] hardlick commented on #326
oh Ok, this is correct...ok! thanks!

[2015-05-04 22:14] #326 closed

[2015-05-05 12:41] endeveit commented on #325
Fixed in #327

[2015-05-05 12:41] #325 closed

[2015-05-05 16:11] endeveit commented on #300
Fixed in #328

[2015-05-05 16:11] #300 closed

[2015-05-05 16:14] Green-Cat commented on #200
@sergeyklay Fixed in 2.0.x

[2015-05-05 16:15] Green-Cat commented on #207
The Gettext Adapter is no longer in incubator.
If it is still relevant, please open an issue @ phalcon/cphalcon.

[2015-05-05 16:46] #200 closed

[2015-05-05 16:47] #207 closed

[2015-05-05 18:38] valVk commented on #300
thanks

[2015-05-06 05:19] hardlick opened #335 "Frontend Cache: Msgpack how to delete cache contents?"
i defined my view Cache:

    $di->set('viewCache', function() {

    //Create a Data frontend and set a default lifetime to 1 hour
    $frontend = new Phalcon\Cache\Frontend\Msgpack(array(
        'lifetime' => 3600
    ));

    $cache = new Phalcon\Cache\Backend\Memory($frontend);

    return $cache;
});

Now, how i can use? on my volt templates to cache?, and how to destroy all cache content ?

[2015-05-06 05:56] sergeyklay commented on #335
For questions regarding the usage of the framework or support requests please visit the [official forums](http://forum.phalconphp.com/).

[2015-05-06 05:56] #335 closed

[2015-05-06 07:01] hardlick commented on #335
All right, you're right!

[2015-05-09 18:05] henrmota commented on #322
use Phalcon\Mvc\ViewBaseInterface  ViewBaseInterface $view in construct twig

[2015-05-11 08:11] thxer92 opened #345 "Behavior::notify Declaration not compatible with Phalcon 2.0.x"
Hi,

I got this error:
Strict standards: Declaration of Phalcon\Mvc\Model\Behavior\Blameable::notify() should be compatible with Phalcon\Mvc\Model\Behavior::notify($type, Phalcon\Mvc\ModelInterface $model)

You have to add \Phalcon\Mvc\ModelInterface typehint to blameable behavior notify function.

[2015-05-11 08:57] sergeyklay commented on #345
Fixed in 2.0.x

[2015-05-11 08:57] #345 closed

[2015-05-11 15:12] sszdh opened #347 "NestedSet behavior does not chain with SoftDelete behavior"
Hi guys...

I have a parent model class named "Entity", that instantiate SoftDelete behavior on initialize() method, and a "Categories" class that extends from Entity.
In "Categories" class I initialize NestedSet behavior.

So, when I run below code, last inserted roots category saved with NULL value in isDeleted field, but first category ('Cars' in this example) has correct isDeleted value!

Runn

[2015-05-11 15:21] sergeyklay commented on #215
@austerus Can you try again please with Phalcon 2.0.x and Incubator 2.0.x ?

[2015-05-11 15:40] endeveit commented on #322
@henrmota unfortunately Phalcon\Mvc\ViewBaseInterface exists only in master branch it doesn't exists in v2.0.0

[2015-05-11 16:33] #347 closed

[2015-05-11 17:05] endeveit commented on #322
Done in #343

[2015-05-11 17:05] #322 closed

[2015-05-12 04:13] luhuiya opened #349 "Php Redis Backend Cache Documentation"
I am having issue of connecting redis using phalcon

i am using the code in the incubator readme
[code]

it always wanted to connect to localhost
but i solved it by changed it to

 $cache = new Phalcon\Cache\Backend\Redis($frontend, array(
                'redis' => $redis,
                'host' => $app_config->redis->host,
                'port' => $app_config->redis->port,
        ));

[2015-05-12 05:18] endeveit commented on #349
@luhuiya you're connecting to 127.0.0.1, don't you?
Change "$redis->connect('127.0.0.1', 6379);" to "$redis->connect($app_config->redis->host, $app_config->redis->port);" and everything will work as you expect.

[2015-05-12 05:36] endeveit commented on #349
@luhuiya BTW what Phalcon version do you use?
In v2.0 redis backend was moved to core from incubator

[2015-05-12 06:23] luhuiya commented on #349
i am using version 2.0 so not incubator

it is the sample, mine was like this, i am able to solve the problem just worry it happens to others

/**
 * cache using redis
 */
$di->set('cache', function() use ($app_config) {

	//Connect to redis
	$redis = new Redis();
	$redis->connect($app_config->redis->host, $app_config->redis->port);

	//Create a Data frontend and set a default lifetime to 1 hour

[2015-05-12 07:03] JellyM opened #351 "Incubator Files are not Loading"
I'm having issue with loading incubator files into my project.

I downloaded files from GitHub's website (the download zip button).

I'm using ```Phalcon\Loader``` to register the namespace for Phalcon as it's stated in the README.md
I can clearly see registered namespace via ```spl_autoload_functions()```
```["Phalcon"]=>"/var/www/html/project/apps/vendor/phalcon/incubator/" ```

And full path of

[2015-05-12 11:11] ilgityildirim commented on #351
I wish you would mention in SOF about downloading via zip button as well.
Check your file and folder permissions and make sure they are accessible.

[2015-05-12 11:23] JellyM commented on #351
@ilgityildirim Thank you! I just copied and pasted the files and folders. I didn't think about checking file permissions.

[2015-05-12 11:24] #351 closed

[2015-05-12 14:42] endeveit commented on #349
@luhuiya thank you.
I remove obsolete docs in v2.0 branch

[2015-05-12 14:42] #349 closed

[2015-05-13 07:16] thxer92 opened #354 "Declaration of Phalcon\Mvc\View\Engine\Twig::__construct() must be compatible with Phalcon\Mvc\View\EngineInterface::__construct(Phalcon\Mvc\ViewBaseInterface $view, Phalcon\DiInterface $dependencyInjector = NULL)"

[2015-05-13 08:34] endeveit commented on #354
Duplicates #352

[2015-05-13 08:34] #354 closed

[2015-05-21 11:35] asgvard commented on #259
Helped alot! Thanks, works fine, at least for the cases I tested

[2015-05-22 17:18] sergeyklay commented on #270
We only accept bug reports, new feature requests and pull requests.

For questions regarding the usage of the framework or support requests please visit the official [forums](http://forum.phalconphp.com/).

[2015-05-22 17:18] #270 closed

[2015-05-22 17:18] #259 closed

[2015-05-22 17:19] sergeyklay commented on #238
@cullsin Can u please test on Phalcon 2.0.1 ?

[2015-05-22 17:20] sergeyklay commented on #221
Can you please test now?

[2015-05-22 17:20] #215 closed

[2015-05-22 17:21] #294 closed

[2015-05-22 17:50] cullsin commented on #238
Hi,

Thanks. I lost the context and I am sure I test it with Phalcon 2.0.1

Raja K

[2015-05-22 18:07] sergeyklay commented on #238
@cullsin Hmm, currently in Phalcon 2.0.1 issue is still exists?

[2015-05-22 18:33] cullsin commented on #238
Hi,

Sorry I will test it and let you know , I guess I made it miscommunication

Raja K

[2015-05-24 19:58] valVk opened #365 "NestedSet Behavior. There is no active transaction"
When hasManyRoots set to `true` than Phalcon catch exception `There is no active transaction` in method `makeRoot`.

But data added to the db.

[code]

[code]

[code]

[2015-05-26 17:03] valVk commented on #365
DB connection must be shared

[code]

[2015-05-26 17:03] #365 closed

[2015-05-27 06:03] TrogWarZ commented on #238
Have same issue.

In services:
[code]

In controller:
[code]

I get an error:
```Notice: Cannot use a scalar value as an array in /path/to/project/vendor/phalcon/incubator/Library/Phalcon/Db/Adapter/Cacheable/Mysql.php on line 125```

If i switch to \Phalcon\Db\Adapter\Pdo\Mysql then i see no errors and "1" in output.

PHP 5.6.8
Phalcon 1.3.5

With phalcon 2.0.2 i get another error:
```Fatal error

[2015-05-27 06:12] TrogWarZ commented on #238
Also, with Cacheable adapter i get an "Invalid parameter number" exception for code like this:

[code]

Notice that in condition we have "foo" parameter repeated more than once. With default Phalcon adapter this works good. Issue may broke some code.

[2015-06-03 18:25] One-art opened #371 "\Acl\Adapter\Database with caching feature"
Hello.
I want to use Database adapter to acl but with caching.
And possibility to use memory and database adapter together?
Any suggestions about right way appreciated

[2015-06-03 18:32] Green-Cat commented on #371
Memory is not a caching mechanism (It is loaded into memory for a request, but does not stay there, that's not possible in php).

[2015-06-03 18:50] andresgutierrez commented on #371
You can cache the results in APC/Redis/Memcached which is shared memory

[2015-06-19 15:01] stefanchiriac opened #379 "mailer can't find view.volt"
Hello,

Phalcon\Mvc\View\Exception: View '/home/xxx/www/xxx/themes/default/emails/confirmation' was not found in the views directory
```/home/xxx/www/xxx/app/vendor/phalcon/incubator/Library/Phalcon/Mailer/Manager.php (314)```

on config I added
```'viewsDir' => '/home/xxx/www/xxx/themes/default/emails/'```

and when I call the view

    $this->getDI()->getShared('mail')->createMessageFromView('co

[2015-06-24 01:59] Wayne-Wen opened #380 "Eager Loading with Empty Resultset throw "InvalidArgumentException""
@stibiumz I got "Expected value of `subject` is either a ModelInterface object, a Simple object or an array of ModelInterface objects" when calling \Phalcon\Mvc\Model\EagerLoading\Loader::fromResultset($items,"RelationA","RelationB");
In my case, $item is an instance of "Simple" resultset with none records in it. Because there is none records in database according to my search query.

I think Eage

[2015-06-24 02:37] stibiumz commented on #380
Hi,

you're right, I'll change that this week and submit changes to this repository too.

Thanks

[2015-06-26 05:19] Wayne-Wen commented on #380
@stibiumz I just found an bug in "EagerLoadingTrait.php" line 54; When $ret is a empty result set, the $ret[0] will throw exception. Please check this as well.

[2015-06-30 03:17] endeveit commented on #379
Have you tried to use «confirmation.volt» instead of «confirmation» in createMessageFromView method?

[2015-06-30 07:23] stefanchiriac commented on #379
yes. I tried with and without .volt extension. Same error.

[2015-06-30 10:12] KorsaR-ZN commented on #379
@stefanchiriac This component is no longer maintained.
Please use https://github.com/phalcon-ext/mailer

[2015-06-30 10:51] stefanchiriac commented on #379
Thanks
I see that overall, incubator is not maintained too much and is quite sad. Phalcon is missing quite a few things and incubator is supposed to be a good all in one solution for these gaps.

[2015-06-30 11:20] KorsaR-ZN commented on #379
I believe that incubator should be divided into smaller components. :)

[2015-07-01 06:19] #379 closed

[2015-07-21 14:33] hardlick opened #391 "Error, destroy sessions with redis"
$di->setShared('session', function() {
    $session = new Phalcon\Session\Adapter\Redis(array(
        'path' => "tcp://127.0.0.1:6379?weight=1",
        'name' => SITE_DOMAIN . '-'
    ));
    $session->start();
    return $session;
    });

on Controller..

    $this->session->set(self::BTS_SESSION_USER_ID, 1);
    $this->session->set(self::BTS_SESSION_USER_NAME, 'hugo');

But when i do:

    $t

[2015-07-24 07:57] sergeyklay commented on #391
Now you can use out-of-box redis session https://github.com/phalcon/cphalcon/pull/10670

[2015-07-24 07:57] #391 closed

[2015-07-27 10:39] #380 closed

[2015-08-12 22:55] Xerton opened #399 "Phalcon/Translate/Adapter/Database.php function "exists""
Hi,

I use Database translation and I try to use "exists" function.

    public static function getTranslation()
    {
        return new \Phalcon\Translate\Adapter\Database( [ 'db' => \Phalcon\DI\FactoryDefault::getDefault()->getShared('db'), 'table' => 'translations', 'language' => Utils::getLanguage() ]);
    }

    $t = self::getTranslation()->exists('foo');

result :

    SQLSTATE[42000]: Syn

[2015-08-17 12:15] KristijanBenkovic commented on #285
@endeveit
referring to documentation processVideo and deleteVideo workers are in the same file (thread). So controller's uploadVideoAction may invoke deleteVideo and Vice versa.

[2015-08-17 13:13] endeveit commented on #285
Each worker will work with his tube. (https://github.com/phalcon/incubator/blame/master/Library/Phalcon/Queue/Beanstalk/README.md#L30 and https://github.com/phalcon/incubator/blame/master/Library/Phalcon/Queue/Beanstalk/README.md#L46)
How action uploadVideoAction can invoke tube "deleteVideo"?

[2015-08-17 14:13] KristijanBenkovic commented on #285
@endeveit

I have tested with \Phalcon\CLI\Task:

[code]
and \Phalcon\Mvc\User\Plugin:

[code]

and the output is
[code]
So if I put job in sendEmailConfirmation tube it random pick a tube. As you said [above](https://github.com/phalcon/incubator/issues/285#issuecomment-98565854) this is expected behaviour. So what is the point of multiple tubes?

[2015-08-17 14:57] endeveit commented on #285
@KristijanBenkovic now I see!
Thank you!
This is a bug, I'll try to fix it as soon as i can

[2015-08-17 15:03] endeveit opened #401 "Beanstalk\Extended works incorrect with multiple workers in one file"
Details are here https://github.com/phalcon/incubator/issues/285#issuecomment-131832122

[2015-08-20 09:43] lixiphp commented on #285
@endeveit  I have fixed the error example code, can I pull request the code to you.

[2015-08-20 09:44] endeveit commented on #285
@lixiphp sure you can

[2015-08-20 09:52] lixiphp commented on #285
@endeveit add a pull request in branch "lixiphp-patch-issue-285", please review.

[2015-08-20 09:56] endeveit commented on #285
Could you please make PR to phalcon:2.0.x?

[2015-08-21 02:19] lixiphp commented on #285
@endeveit OK

[2015-08-21 02:37] lixiphp commented on #285
@endeveit I have make a new PR to phalcon:2.0.x branch.

[2015-08-21 03:09] endeveit commented on #285
@lixiphp I don't see it in list of PR here https://github.com/phalcon/incubator/pulls

[2015-08-21 03:45] lixiphp commented on #285
@endeveit https://github.com/phalcon/incubator/pull/406 can you see it?

[2015-08-21 04:01] lixiphp commented on #285
Fixed. checkout the lastest README example in 2.0.x branch.

[2015-08-21 04:01] #285 closed

[2015-08-26 01:40] endeveit commented on #401
Fixed in #401

[2015-08-26 01:40] #401 closed

[2015-09-13 15:27] temuri416 opened #424 "[NFR] NestedSet behaviour - ability to customize database service name in DI"
Hi,

https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/Model/Behavior/NestedSet.php#L790

In my app I have a different way of determining active DB handler. Maybe we should use constructor to set custom DB connection?

[code]

Thanks!

[2015-09-13 15:42] sergeyklay commented on #424
@temuri416
Hello
Great idea. Can you please create PR to 2.0.x branch?

[2015-09-13 16:23] temuri416 commented on #424
PR's ready for your review.

[2015-09-13 20:14] #424 closed

[2015-09-13 20:23] temuri416 commented on #424
Thanks!

What's the plan - when will 2.0.x be merged into master?

[2015-09-13 20:24] sergeyklay commented on #424
After releasing Phalcon 2.0.8

[2015-09-15 22:47] temuri416 opened #426 "[NFR] NestedSet behaviour - add $addSelf to ::descendants()."
Hi,

It would be nice to be able to add the node itself to the resultself when loading node's descendants.

Thanks!

[2015-09-16 00:25] #426 closed

[2015-09-23 13:29] aldev-web commented on #221
Hi,

Problem already exist. Fix of lucvht works perfectly. Can you apply ?

[2015-09-24 08:04] hthtung90 commented on #293
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for phalcon/incubator dev-master -> satisfiable by phalcon/incubator[dev-
master].
    - phalcon/incubator dev-master requires swiftmailer/swiftmailer

[2015-10-01 00:55] Wayne-Wen opened #432 "Cannot using "duncan3dc/fork-helper"!!!"
When we update incubator to 2.0.8 via composer, we got following error:

      duncan3dc/fork-helper 1.0.1 requires ext-pcntl * -> the requested PHP extension pcntl is missing   from your system.

I have checked the "pcntl" extension via php.net and notice that this extension is not available on Windows platforms. However, our whole team is using Windows. Therefore, we have to downgrade incubator'

[2015-10-01 20:55] ilgityildirim opened #435 "Decimal Validator Is Not Working"
I'm using Phalcon 2.0.7, I wanted to use Decimal validator and I had the following error (grabbed it from Apache's error log)

    PHP Fatal error:  Declaration of Phalcon\\Mvc\\Model\\Validator\\Decimal::validate() must be compatible with Phalcon\\Mvc\\Model\\ValidatorInterface::validate(Phalcon\\Mvc\\EntityInterface $record) in /var/www/html/phalcon/project/script/app/library/Phalcon/Mvc/Model/V

[2015-10-02 08:07] sergeyklay opened #438 "Update CONTRIBUTING.md, so it is clear how to submit a PR"

[2015-10-02 11:29] endeveit commented on #435
@ilgityildirim please check with the latest version of incubator

[2015-10-02 11:31] endeveit commented on #432
@Wayne-Wen please check with the latest version

[2015-10-13 16:27] Zaszczyk opened #443 "Uniquness validator in 2.1.x not work properly"
Hello,
I have form class with such field:
[code]
When the field is empty, I got such error during validation the form:
[code]
and stack:
[code]

If there is at least 1 char in field, it works properly.
I use Phalcon\Validation\Validator\Db\Uniqueness from incubator and Phalcon 2.1.x beta.
PostgreSQL 9.4

[2015-10-14 07:53] Wayne-Wen commented on #432
@endeveit Thank you. I'm just considering How can we use "Phalcon/Queue/Beanstalk/Extended" without "fork". Is there any alternative package to replace "duncan3dc/fork-helper"?

[2015-10-14 08:44] endeveit commented on #432
@Wayne-Wen I don't know the proper way to fork process on Windows.
Without fork the whole idea of Phalcon\Queue\Beanstalk\Extended makes no sense.

[2015-10-14 08:54] endeveit commented on #443
Something wrong with data that you've provided to validator.
Try to convert it to utf-8, something like that:
[code]

[2015-10-19 03:57] #432 closed

[2015-10-19 03:57] #435 closed

[2015-11-08 13:59] #371 closed

[2015-12-08 01:26] Wayne-Wen opened #501 "Why there is not model id for Audit in Blameable behavior?"
When I'm looking into the code of "Blameable" behavior, I found:
[code]
Looks like it only stores the name of model. If I have two Products (Production A and Product B). And I have made changes on these two products. How can I know what are the changes of product A and what are the changes of product B. Because their model name are the same-----"Product", and there is not model id to distinguish t

[2015-12-08 05:50] endeveit commented on #501
You can find information about changed data in "audit_detail" table.

[2015-12-08 05:54] Wayne-Wen commented on #501
@endeveit But How do you know whether the changed data is belonged to "Product A" or "Product B"?

[2015-12-08 06:35] endeveit commented on #501
You can use "field_name" field but I agree that current implementation of blameable behavior is poor and should be refactored.

[2015-12-08 08:08] Wayne-Wen commented on #501
@endeveit If "Product A" have changed its "name" from "apple 1" to "apple", and "Product B" have changed its "name" from "pear 1" to "pear". Here is an example:

audit table:

id | user_name | model_name | ipaddress | type | created_at
------------ | ------------- | -------| ------- | ---- | ----
1 | Wen | Product | 127.0.0.1 | U | 2015-12-08 18:52:00
2 | Peter | Product | 127.0.01 | U | 2015-12-0

[2015-12-08 13:25] niden commented on #501
@Wayne-Wen You can easily change this. Add two fields in your `audit` table:

usr_id <- the user that did this
record_id <- the id of the table/model that you are auditing.

Your table will then become

id | user_name | user_id | record_id | model_name | ipaddress | type | created_at
------------ | ------------- | -------| ------- | ---- | ----
1 | Wen | 4 | 13 | Product | 127.0.0.1 | U | 2015-12-

[2015-12-09 00:03] Wayne-Wen commented on #501
@niden Of course, I have added a ```model_id``` field into my ```audit``` table and rewrote the ```Blameable``` class. But what is the purpose of Original ```Blameable```` behavior since it cannot retrieve the changed of a model (like "Product A") ?

[2015-12-09 12:05] valVk opened #503 "[NFR] Update Phalcon\Utils\Slug with intl extension to allow slugify cyrilic"
[code]

[code]

[2015-12-09 12:43] sergeyklay commented on #503
Could you please explain what sort of issues in the current implementation

[2015-12-09 18:58] valVk commented on #503
[code]

Expected

[code]

[2015-12-10 10:30] sergeyklay commented on #503
Thanks. Fixed in `2.0.x` branch

[2015-12-10 10:30] #503 closed

[2015-12-10 15:38] valVk commented on #503
@sergeyklay

Please be noticed that there have to be installed extension `php5-intl`

[code]

[2015-12-10 15:56] sergeyklay commented on #503
https://github.com/phalcon/incubator/pull/507

[2015-12-11 10:01] pablomoreno61 opened #508 "isAllowed is not working"
Hi!

I've found an error in your Phalcon\Acl\Adapter\Database class, while using isAllowed method. The SQL query (line 388 in master) is not working as expected because you get 'allowed' string instead of allowed the field name with its value.

So, if you find any result, even it is disallowed access, you will get true because:

[code]

[2015-12-15 11:15] pablomoreno61 opened #510 "phpunit setUp has changed and it has not been noticed"
In the last update of phalcon incubator, the method setUp from Phalcon\Test\UnitTestCase has been changed:

Before the changes, the interface was like:

[code]

while now it is as follows:

[code]

This means that your documentation is outdated (https://docs.phalconphp.com/en/latest/reference/unit-testing.html).

Using the old incubator you did:

[code]

While now, this doesn't works and you have

[2015-12-15 12:07] sergeyklay commented on #510
@pablomoreno61
1. Pull request: https://github.com/phalcon/incubator/pull/467
2. Documentation: https://github.com/SidRoberts/phalcon-docs/commit/801e1a9bfe5e8253a485afcfaeccc25bcd08235c

@SidRoberts These changes is not in the production yet?

[2015-12-16 22:50] temuri416 opened #513 "[BUG] NestedSet behaviour: appendTo() behaves as prependTo()."
Hi,

I think there is a bug in inserting nodes to parent.

All newly inserted nodes are created as parent's first node (or, before any other sibling), regardless of whether **appendTo()** or **prependTo()** is used.

Here's how the rows look like as a result of **appendTo()** or **prependTo()**:

![image](https://cloud.githubusercontent.com/assets/3987203/11856240/3bb7e10a-a41d-11e5-935e-bc584620e

[2015-12-17 14:31] pablomoreno61 commented on #508
This is the actual code:
[code]

And this is the code that works:

[code]

[2015-12-17 15:45] sergeyklay commented on #508
@pablomoreno61 Can you please create PR like this https://github.com/phalcon/incubator/pull/514

[2015-12-17 15:46] sergeyklay commented on #508
@pablomoreno61 Can you please check `2.0.x` branch?

[2015-12-17 16:34] pablomoreno61 commented on #508
@sergeyklay composer still downloading the old Database.php version using:

"phalcon/incubator": "2.0.*"

[2015-12-17 19:09] sergeyklay commented on #508
[code]

[2015-12-18 07:39] pablomoreno61 commented on #508
yeah, @sergeyklay, that version is working properly! :-)

[2015-12-18 09:02] #508 closed

[2015-12-18 09:03] sergeyklay commented on #510
@andresgutierrez Can you please update docs site?

[2015-12-18 09:13] pablomoreno61 commented on #508
Is this 2.0.x-dev branch ready for a production environment?

[2015-12-18 09:38] pablomoreno61 commented on #508
great! thanks!

[2016-01-04 23:07] elcreator opened #516 "error when using composer on Windows - duncan3dc/fork-helper 1.1.5 requires ext-pcntl"
Repo contains OS-specific PHP functionality usage (ext-pcntl).
So it can't be required using Composer on Windows machines due to next error:

Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.
[code]

[2016-01-04 23:13] sergeyklay commented on #516
@endeveit Can you please deal with this?

[2016-01-04 23:34] Green-Cat commented on #516
@elcreator As a temporary work around you can run composer with the --ignore-platform-reqs flag.

[2016-01-05 05:20] noobiwan commented on #193
I can confirm this behavior, how are you supposed to clean the session if you can write empty data?

[2016-01-05 05:30] noobiwan commented on #193
Check my patch #517

[2016-01-05 05:41] noobiwan commented on #248
@michaelotte, @sergeyklay, why is this a bug? I'm working with the adapter and I might be able to fix this if you give me more details.

[2016-01-05 07:38] michaelotte commented on #248
Thanks, but this was actually fixed in ebec4a5. Can be closed.(https://github.com/phalcon/incubator/commit/ebec4a5dcbb75930da8ab8f6612cd614a715fc4f)
Before the code did not respect sessions that were just created and not yet modified.

[2016-01-05 10:26] #248 closed

[2016-01-06 00:30] rochapablo opened #520 "Not installing on Heroku"
When I run the heroku build it doesn't work, because the "ext-phalcon" it will be the last thing to be set.

[code]

[code]

[2016-01-09 00:09] elcreator commented on #516
Thank you, workaround was helpful

[2016-01-09 00:13] sergeyklay commented on #516
Fixed in #518

[2016-01-09 00:13] #516 closed

[2016-01-12 16:18] pablomoreno61 commented on #508
It is not fixed in master branch yet

[2016-01-12 16:45] sergeyklay commented on #508
Yes, `2.0.x` is not merged yet to the `master`

[2016-01-12 16:48] pablomoreno61 commented on #508
Do you know aproximately when is it planned?

[2016-01-12 16:50] sergeyklay commented on #508
Immediatly after Phalcon 2.0.10 release

[2016-01-14 05:18] leocaseiro opened #524 "Change from phalcon-ext to phalex"
The Library *[phalcon-ext](https://github.com/tmquang6805/phalcon-ext)* is abandoned and no longer maintained. The author suggests using the [tmquang6805/phalex](https://github.com/tmquang6805/phalex) package instead. Should not incubator up to date?

[2016-01-14 07:05] sergeyklay commented on #524
`ext-phalcon` not `phalcon-ext` is a virtual package.

To validate the availability of PHP extensions, all that is needed is to preface its name with **ext-** and add it to the **requre** section of the `composer.json` file.

[2016-01-14 07:05] #524 closed

[2016-01-27 08:54] MaDKaTZe opened #531 "[FEATURE] Support for ext-mongodb"
Hello,

are there any plans to support [ext-mongodb](http://pecl.php.net/package/mongodb) as the old *mongo* driver is deprecated and not supported by PHP 7 either. Also it doesn't met up with current version of MongoDB (which is 3.2) as the time of writing.

Thanks

[2016-01-27 08:57] Green-Cat commented on #531
There is already an issue on the main project phalcon/cphalcon#11156

[2016-01-27 09:00] #531 closed

[2016-01-30 14:35] temuri416 commented on #513
@sergeyklay

Hi there,

Is there a chance that this gets addressed?

Thanks!

[2016-01-30 14:39] sergeyklay commented on #513
Hi, I'll try to deal with this in the near future

[2016-01-30 14:49] temuri416 commented on #513
Awesome, most appreciated!

[2016-01-31 00:51] temuri416 opened #534 "[BUG] NestedSet behaviour: moveAsFirst() not working."
Hi,

I'm following **Tree modification methods** example at:

https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Mvc/Model/Behavior

The following **moveAsFirst()** call does not do anything at all:

[code]
As a result **$x100** remains where it was - under _Mobile Phones -> Audi_. No left or right values are updated anywhere in the table by **moveNode()**.

Thanks

[2016-01-31 01:02] temuri416 opened #535 "[NFR] Implement a tree move method to allow root nodes to become branches of existing tree"
Hi,

**Given**:

1. A structure with two independent roots (one tree does not know anything about another):
![image](https://cloud.githubusercontent.com/assets/3987203/12699499/3d90ab24-c78b-11e5-9f15-d5793f4ec19e.png)

2. DB rows look like:
![image](https://cloud.githubusercontent.com/assets/3987203/12699505/6ea6d436-c78b-11e5-81a4-d968097630f9.png)

**Required**:

An ability to move **Root2** or

[2016-02-01 13:59] huaweichen opened #536 "duncan3dc/fork-helper 1.1.5 requires ext-pcntl * -> the requested PHP extension pcntl is missing from your system."
Still getting this issue: (windows prompt)
![1-2-2016 11-58-24](https://cloud.githubusercontent.com/assets/1430006/12719260/b4d43650-c93f-11e5-9d64-37895f8112d2.png)

composer.json:

[code]

[2016-02-01 15:12] sergeyklay commented on #536
@endeveit Can you please deal with this?

[2016-02-08 19:01] denysmakarenko opened #539 "Undefined index: db in \vendor\phalcon\incubator\Library\Phalcon\Session\Adapter\Database.php on line 111"

[2016-02-08 19:18] denysmakarenko commented on #539
I found the reason of this error message.
In Database adapter class on the line 54 you have a string
unset($options['db'])
After that on the line 68 we call parent class  parent::__construct($options) but as you understand options db is unsetting earlier.
Why you do this?

[2016-02-08 22:28] XartIrok opened #541 "Mailer problem"
error

section to load

[code]

i use composer to install, mayby there is wrong

[code]

[2016-02-08 22:43] sergeyklay commented on #539
@denysmakarenko Can you please check `2.0.x` branch?

[2016-02-08 22:45] sergeyklay commented on #541
Composer way:

Use `composer.json` as follows:
[code]

then run the composer installer:

[code]

and use something like
[code]

without `$loader->registerNamespaces`

[2016-02-08 23:39] XartIrok commented on #541
i must say is strange, but now is working thanks

[2016-02-08 23:39] #541 closed

[2016-02-09 03:50] denysmakarenko commented on #539
Everything is ok. How I install correct dependeny by composer to my project?

[2016-02-09 07:22] sergeyklay commented on #539
* For Phalcon 2.0.x `composer require phalcon/incubator:2.0.x-dev`
* For Phalcon 2.1.x `composer require phalcon/incubator:2.1.x-dev`

[2016-02-09 07:22] #539 closed

[2016-02-10 18:53] sergeyklay commented on #536
@huaweichen Can you please test now by using:
[code]

[2016-02-10 18:56] sergeyklay commented on #534
Hi @temuri416 I need script to reproduce (including table schema)

[2016-02-10 19:00] sergeyklay commented on #520
First install and enable Phalcon >= 2.0.4 and then install Incubator.
If it is impossible use `composer install --ignore-platform-reqs`

[2016-02-10 19:00] #520 closed

[2016-02-10 19:01] sergeyklay commented on #513
HI, Provide please script to reproduce (including table schema)

[2016-02-10 19:01] #443 closed

[2016-02-10 19:09] sergeyklay commented on #536
Fixed in https://github.com/phalcon/incubator/pull/518

[2016-02-10 19:09] #536 closed

[2016-02-10 19:09] #510 closed

[2016-02-10 19:11] sergeyklay commented on #399
Fixed in `2.0.10`

[2016-02-10 19:11] #399 closed

[2016-02-10 19:25] temuri416 commented on #513
Sure, I can put something together.

But aren't you able to reproduce it with your own code and schema? Cuz that's exactly what I was doing. The same applies to #534.

Thanks!

[2016-02-10 19:32] sergeyklay commented on #513
Unfortunately I still haven't found enough time for this. But I'll try to deal at the weekend.
In any case, I will need to reproduce the issue.

[2016-02-10 19:39] temuri416 commented on #513
ok, I'll try to make it easy for you :-) Will post code ASAP.

[2016-02-16 23:09] Zaszczyk commented on #534
I also have this same problem on my own code.
I created such nodes with NestedSetBehavior:
![tree](https://cloud.githubusercontent.com/assets/7737337/13094307/14861c6e-d50a-11e5-987c-c81695b47e62.png)
And I try move PHP as backend's child:
[code]
The code executes without any errors, but there are no changes in database. I've also tried with moveAsFirst(). I use NestedSet with `'hasManyRoots' => t

[2016-02-17 13:24] Zaszczyk commented on #534
@sergeyklay Hi, I found You were inspiring with: https://github.com/yiiext/nested-set-behavior so I decided to compare both classes line after line and I found typo here:
https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/Model/Behavior/NestedSet.php#L651. It should be:
`$this->rootAttribute => $target->{$this->rootAttribute}`
Just $owner to $target.

After this fix, it works a l

[2016-02-18 09:56] sergeyklay commented on #534
@temuri416 Can you please check now `2.0. x` branch?

[2016-02-27 02:28] sergeyklay commented on #534
@temuri416 Could you please test #552 before I'll merge it

[2016-02-29 02:25] temuri416 commented on #513
Hi @sergeyklay ,

Looks like this one is not fixed yet.

Tested with branch `2.0.x`, git commit ID 0bbf7b56c36f7678f4ae4de79b748710035442b4.

Table:

[code]

Model class:

[code]

The code:

[code]

**Observed result the DB**:

![image](https://cloud.githubusercontent.com/assets/3987203/13384113/8d93edb6-de60-11e5-8f08-c86326bec757.png)

**Observed visual tree structure**:
[code]

**Expected resul

[2016-02-29 12:31] Surt commented on #349
I can't connect using this way with 2.0.10, and I can't see any clue on cphalcon indicating it could be done:

[code]

[2016-02-29 13:34] sergeyklay commented on #349
@Surt Create please separated issue

[2016-03-01 00:38] sergeyklay commented on #513
I've realized how it should work.

[code]

This code should create such tree:
![nested_set_appendpepend_2](https://cloud.githubusercontent.com/assets/1256298/13413677/038574a0-df55-11e5-87d9-77f5bcf1e2eb.png)

Red numbers - PK
Blue numbers - Level
Black numbers - Left / Right

I fixed this issue in #552
See `NestedSetTest::testShouldAddBelowAndAbove`

[2016-03-02 00:38] sergeyklay commented on #535
@temuri416
Could you please take a look at the `NestedSetTest::testShouldMoveNodesBetweenTrees` #552
This is exactly what you had in mind?

[2016-03-02 01:01] temuri416 commented on #513
@sergeyklay

I'm a little confused. You're saying it's fixed, yet I don't see any commits since 25th of February, 0bbf7b56c36f7678f4ae4de79b748710035442b4.

https://github.com/phalcon/incubator/pull/552 isn't merged yet, how should I test it?

[2016-03-02 01:04] temuri416 commented on #535
@sergeyklay
Pardon my ignorance, but how can I check out contents of pull request?

[2016-03-02 01:09] sergeyklay commented on #535
:neutral_face:

Just add to the your `composer.json`
[code]

and then run `composer update`. Of course you'll need use `require` like this:
[code]

See: https://getcomposer.org/doc/05-repositories.md#repository

[2016-03-02 01:20] temuri416 commented on #513
I've tested with #552 and tree looks as expected.

[2016-03-02 01:29] sergeyklay commented on #513
Also check #535 and please #534

[2016-03-02 01:36] temuri416 commented on #535
The following works as expected on #552:

[code]

As result, the tree looks like:

[code]

[2016-03-02 01:42] temuri416 commented on #534
Works as expected on #552:

[code]

Tree looks as:

[code]

[2016-03-02 01:46] sergeyklay commented on #534
Well morning I'll merge it

[2016-03-02 01:46] temuri416 commented on #534
Thank you so much.

[2016-03-02 07:10] sergeyklay commented on #513
Fixed in `2.0.x`

[2016-03-02 07:10] #513 closed

[2016-03-02 07:10] sergeyklay commented on #534
Fixed in `2.0.x`

[2016-03-02 07:10] #534 closed

[2016-03-02 07:10] sergeyklay commented on #535
Fixed in `2.0.x`

[2016-03-02 07:10] #535 closed

[2016-03-02 16:02] temuri416 commented on #534
When will this be merged into master?

[2016-03-02 16:25] sergeyklay commented on #534
After Phalcon 2.0.11 release

[2016-03-03 16:45] cordonmedia opened #554 "CURL POST Issue"
I am using the POST functionality of the CURL module directly. The GET works with no issues. But the POST keeps throwing an error:

[code]

I've tried setting multiple options but have had no luck so far. I am trying to post a pdf file. And the code looks like this:

[code]

Help will be appreciated. Thanks!

[2016-03-04 12:55] sverdier opened #556 "Strict Standards notice on Phalcon/Db/Dialect/MysqlExtended.php"
When I use 'dialectClass' => '\Phalcon\Db\Dialect\MysqlExtended'
I have this notice :
Strict Standards: Declaration of Phalcon\Db\Dialect\MysqlExtended::getSqlExpression() should be compatible with Phalcon\Db\Dialect::getSqlExpression(array $expression, $escapeChar = NULL, $bindCounts = NULL) in /vagrant/www/vendor/phalcon/incubator/Library/Phalcon/Db/Dialect/MysqlExtended.php on line 0

[2016-03-04 13:01] sergeyklay commented on #556
Could you please provide Phalcon & Incubator versions ?

[2016-03-04 13:09] sverdier commented on #556
Phalcon 2.0.9
Incubator 2.0.10

[2016-03-04 15:48] sergeyklay commented on #556
Fixed in `2.0.x`

[2016-03-04 15:48] #556 closed

[2016-03-11 12:34] Jurigag opened #558 "ACL Adapters in 3.0.x"
How about implementing https://github.com/phalcon/docs/blob/master/en/reference/acl.rst#function-based-access in acl adapters ?

Dont know how exactly it should be working - i guess serializing/unserializing function ? But default serialize/deserialize methods in php cant serialize Closures so we would need to add/implement some library which will allow us such a thing.

There are some code for se

[2016-03-11 13:15] Jurigag commented on #371
@One-art also most of databases already have built-in query based cache result. If table change then query is invalided. At leasy mysql have such a feature.

[2016-03-23 07:45] hisorange opened #560 "Eagerloading alias to lower"
Aye is there a need for [this](https://github.com/phalcon/incubator/blob/2.1.x/Library/Phalcon/Mvc/Model/EagerLoading/EagerLoad.php#L68) to be strtolower?

Cuz this almost drove me nuts, my many2many relations are named in camelCase fashion so shopProducts will be loaded under shopproducts with eagerloading.

[2016-03-23 19:47] sergeyklay commented on #560
@stibiumz

[2016-03-24 17:42] uonick commented on #558
@Jurigag
https://github.com/phalcon/incubator/commit/0e81371e0db18a98d36b789bc9f19a4ab3be7001

[2016-03-24 18:01] Jurigag commented on #558
@uonick

But it's only making them to work with 2.1.x, not actually implementing behaviour which have Phalcon\Acl\Adapter\Memory:

https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/acl/adapter/memory.zep#L676

[2016-03-28 16:19] sergeyklay opened #563 "Create port of Phalcon 2.0.x Phalcon\Crypt and Phalcon\CryptInterface"
Due to the fact that we changed mcrypt by openssl in Phalcon 2.1.x existing encrypted data in databases maybe couldn’t be decrypted using openssl.

Refs:
* https://github.com/phalcon/cphalcon/issues/11486
* https://github.com/phalcon/docs/pull/799
* https://github.com/phalcon/cphalcon/pull/11530

[2016-04-14 04:38] Mechzeit opened #568 "Phalcon\Acl\Adapter\Database allow method with wildcard not working"
When calling the `allow` method against the Database adapter ACL, if the first two arguments (or just one) equal '*', the initial check within the protected function 'insertOrUpdateAccess' will fail because it cannot find the row (because obviously being a wildcard, it actually won't exist)

Please note I am using a PDO MySQL connection for '$connection'

Example:
[code]

Will result in an \Except

[2016-04-20 14:59] challet opened #574 "Phalcon/Db/Dialect/MysqlExtended.php INTERVALs"
The [DATE_INTERVAL intermediate expression](https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Db/Dialect/MysqlExtended.php#L39) can be used only whith DAY, MONTH, and YEAR types, while MySQL [supports some more](http://dev.mysql.com/doc/refman/5.7/en/date-and-time-functions.html#function_date-add).

Should this function be extended to cover them all ?

[2016-04-20 23:53] #568 closed

[2016-04-25 17:29] diegomurbanos opened #575 "Http Custom Headers"
Good day

I'm using Incubator library, specifically the Http/Client. I want to send a POST request with a custom headers, I try with the next code:
[code]

The problem is that this function send the custom header into an array variable call fields. How can I send custom headers outside this array?

Thanks for your answer.

[2016-04-25 17:48] sergeyklay commented on #575
Could you please explain a bit more? Which exact result do you expect?

[2016-04-25 19:19] diegomurbanos commented on #575
I defined 3 custom headers, Content-Type, client_id and secret_id, but this
custom headers are located in an array call "fields". I need my custom
headers outside from this array.

[image: Imágenes integradas 1]

this is my actual code.

[image: Imágenes integradas 2]

2016-04-25 12:48 GMT-05:00 Serghei Iakovlev <notifications@github.com>:

--
Diego Alfonso Prieto Torres
Developer
Tel: (+57 1) 329

[2016-04-25 19:44] phalcondroid commented on #575
$customHeaders = [
     "client_id" => "ex",
     "client_id2" => "ex2"
];

$provider->header->set('Content-Type', 'application/x-www-form-urlencoded');

//outside headers??????
foreach ($customHeader as $key => $value) {
      $provider->header->set($key, $value);
}

//I dont understand :(

[2016-04-25 20:12] diegomurbanos commented on #575
Sorry I try to explain better, when I use the function $provider->header->set('application_id', 'appid'); that create my custom header into a variable call "fields", but the API that I'm using dont recognize this variable. Example

With Incubator the header is:

headers => array(
    "field" => array(
        "client_id"=>"xxxx",
        "client_secret"=>"xxxxxx"
    )
);

But I need send to the A

[2016-04-25 20:16] phalcondroid commented on #575
Si quieres explica en español para entenderte mejor Diego

[2016-04-25 20:19] phalcondroid commented on #575
Tu no puedes enviar arrays por post a menos que sea un raw body, si quieres enviarlos por post siempre debes enviar un clave valor, eso en phalcon o donde sea,  incluso por Curl, lo que debes hacer es recorrer tu index field y asignarlos con el ->set() ....

[2016-04-25 20:27] mbermeo commented on #575
Hola, gracias por respondernos phalcondroid.

Resulta que estamos trabajando con incubator, no hemos tenido ningún inconveniente con los consumos de APIs por post, es decir, cuando tratamos de consumir un endpoint por post, enviamos las variables y el servicio nos responde correctamente.

El inconveniente que tenemos ahora es que un servicio requiere que aparte de las variables POST, sele envíen 2

[2016-04-25 20:56] sergeyklay commented on #575
@diegomurbanos Could you please provide a small script to reproduce?

[2016-04-25 20:59] diegomurbanos commented on #575
Thank you @sergeyklay @phalcondroid the problem was directly the API and not the frontend client, sorry for the disturb we are learning phalcon :)

[2016-04-25 20:59] #575 closed

[2016-04-25 21:01] phalcondroid commented on #575
$request = Phalcon\Http\Client\Request::getProvider();
$provider = $request::getProvider();
var_dump($provider->setOption(CURLOPT_HTTPHEADER, array('HeaderName: HeaderValue')));

Prueba con esto...

[2016-04-28 20:00] kaioken opened #576 "Queue - Beanstalk\Extended not working correctly"
Hi,

After updating to the latest version of incubator all my queues started shutting down and not working correctly.
I have over 10 queues running all working over a few months without any issues but after this update https://github.com/phalcon/incubator/commit/1349e7e821cfe7bcad7b4096735603c040fe716b#diff-60f3e21e7ed665e2c1482e2327e0823d

My queues exit() the process upon completing, they dont s

[2016-04-29 06:21] Chameleon-m commented on #576
@endeveit

[2016-05-06 10:46] XartIrok opened #580 "wrong require composer for 2.1.x"
console:

[code]
Ubuntu 16.04 settings on VirtualBox

[2016-05-06 18:11] sergeyklay commented on #580
Incubator 2.1.x designed to work with Phalcon 2.1.x.
Now just use `--ignore-platform-reqs` Composer's argument for installing Incubator 2.1.x

What says `php --ri phalcon`?

[2016-05-06 21:07] XartIrok commented on #580
thanks `--ignore-platform-reqs` thie param help

[2016-05-06 21:07] #580 closed

[2016-05-10 11:43] dschissler opened #585 "[2.1.x] Dialect\MysqlExtended doesn't implement interface"
https://github.com/phalcon/incubator/blob/2.1.x/Library/Phalcon/Db/Dialect/MysqlExtended.php#L39

[code]

Should be:

[code]

I'll push when I can.

[2016-05-10 12:31] ghost opened #586 "phalcon Twig"
I have twig working except for the Twig_Extension_Debug.

This is required to use the dump().

[code]

am i missing something?

cheers.

[2016-05-10 17:35] challet commented on #574
see #587

[2016-05-10 17:35] #574 closed

[2016-05-13 07:33] sergeyklay commented on #563
Fixed in 2.1.x branch

[2016-05-13 07:33] #563 closed

[2016-05-27 14:13] fenixphp opened #603 "NestedSet - deleteNode : You should not use beforeUpdate?"
[code]

Everything works except deleteNode methods. What could I do wrong?

[2016-05-30 08:22] fenixphp commented on #603
[code]

Error: You should not use fastPanel\Navigate\Models\Menu\Link:beforeUpdate when Phalcon\Mvc\Model\Behavior\NestedSet attached. Use the methods of behavior.

What is wrong here? Thanks in advance.

[2016-05-30 12:06] sergeyklay commented on #603
What version of Incubator?

[2016-05-30 12:51] fenixphp commented on #603
2.1.x

[2016-05-30 13:22] sergeyklay commented on #603
I'll try to sort out

[2016-05-30 13:29] fenixphp commented on #603
Ok .. Thank.

[2016-06-02 08:45] esayr opened #606 "ACL Redis Adapter Roles Inheritance issue"
[code]

[2016-06-03 18:22] XartIrok opened #610 "[2.1.x] twig problem with render action"
when i try use twig in my project i get problem with render diffrent action
1. try
loader engine
[code]
main view path: view/admin/index.php
[code]
action view path: view/admin/login/index.php
[code]
on this try nothing render null
try second a change only the main view
[code]
this try end render but only text input was render by a string not as it should

a that moment i try use a stadard **volt*

[2016-06-28 11:50] sverdier opened #635 "BeanstalkExtended"
Hi,

I had problem with supervisor + Beanstalk After some time the request fails =>
[code]
When I restart supervisor all requests work

[2016-07-08 13:32] sverdier commented on #635
Can you fix it ?

[2016-07-08 21:29] sergeyklay commented on #635
@sverdier I'll try to sort out

[2016-07-22 05:51] sergeyklay commented on #635
@sverdier Could you please provide script to reproduce?

[2016-08-01 14:05] JCMais commented on #606
This should be closed.

[2016-08-01 15:09] #606 closed

[2016-08-12 07:48] gorellnet commented on #603
This is still happening in phalcon 3.0.0 with the latest incubator from master. Any news/schedule when it will be fixed?

[2016-08-12 08:03] sergeyklay commented on #603
It's not Phalcon issue

[2016-08-13 12:08] sergeyklay commented on #635
@sverdier

[2016-08-13 14:41] sverdier commented on #635
Could you please send me your ssh public key?

Cordialement,

Samuel Verdier
Expert Certifié Magento / SEO / Zend Framework et PHP
<http://samuelverdier.com>
+33 (0)6 86 86 62 88

2016-08-13 14:08 GMT+02:00 Serghei Iakovlev <notifications@github.com>:

--

[image: DotEvo] 418 rue Fra Angelico
34000 Montpellier
dotevo.com

[2016-08-13 16:43] sergeyklay commented on #635
https://gist.githubusercontent.com/sergeyklay/5aba3d3cf213e6239d1aa610ea26df9a/raw/41150f42eeb4e286be31d1d08d55fae388ef150e/id_rsa.pub

[2016-08-16 09:53] sverdier commented on #635
@sergeyklay It's OK for ssh connexion?

[2016-08-17 00:39] sverdier commented on #635
@sergeyklay pcntl_fork used by duncan3dc/fork-helper cause bug on database connection. I delete Fork on your code BeanstalkExtended.

[2016-08-18 03:46] Keech opened #656 "Args in set_exception_handler() are need to be changed in php7.0?"
I noticed that `set_exception_handler()` is probably needed to change.
Now your code in `Phalcon\Error\Handler` is below.

[code]

But PHP reference is saying,

(http://php.net/manual/en/migration70.incompatible.php)

So, I think you need to fix like this, though how about it?

[code]

Thnaks.

[2016-08-18 05:45] sergeyklay commented on #656
Fixed in the 3.0.x branch https://github.com/phalcon/incubator/pull/655/files

[2016-08-18 05:45] #656 closed

[2016-08-18 06:42] Keech commented on #656
@sergeyklay Thanks. I was using older one. When updated it, then solved.

[2016-08-24 10:32] sverdier commented on #635
It's not a BeanstalkExtended bug, it's a issue with persistent CLI task, I had Di::getDefault()->get('db')->connect(); in infini loop for not lose database connexion

[2016-08-24 10:32] #635 closed

[2016-08-24 10:50] sergeyklay commented on #576
@kaioken https://github.com/phalcon/incubator/issues/635 Have you seen?

[2016-08-24 16:41] blm14 opened #659 "Is there any way to apply this to PHQL and view of records not just changes?"
topic says it all. I want to be able to use this to also log changes coming from PHQL and also to log views of records and which fields were viewed.

[2016-08-24 20:45] sergeyklay commented on #659
@blm14
Are you sure that's the Incubator objectives?
Could you please explain a bit more?

[2016-08-29 03:52] kaioken commented on #576
@sergeyklay  yep saw it but not the same thing, im not getting any errors the jobs just dies after processing 1 request

[2016-08-29 04:00] kaioken commented on #576
If I change this code back to the 2.0.9 version its works correctly

[code]

[2016-08-31 10:50] mnashmi opened #663 "Oracle PDO: Class phalcon\db\dialect\oracle"
Fatal error: Class 'phalcon\db\dialect\oracle' not found in ....

[code]

[code]

I think its the lower case search, i manually changed the constructor to the following which works :

[code]

I think the problem is in the core source in the file: phalcon/db/adapter.zep at line 119.

[code]

should become:
[code]

[2016-08-31 10:57] sergeyklay commented on #663
Provide please Incubator **and** Phalcon version

[2016-08-31 11:45] mnashmi commented on #663
3.0.1 - both master in github.

[2016-08-31 13:51] sergeyklay commented on #663
Zephir uses case insensitive search

[2016-08-31 13:51] sergeyklay commented on #663
I'll try to sort out

[2016-09-01 10:44] sergeyklay commented on #576
@kaioken I think this issue might be saefely closed. Right?

[2016-09-07 11:42] marianacapelo commented on #259
@davihu your code worked for me as well - at least for most cases. I had to do a little fix, though - I got a broken tree when moving a node with children from first child of another node to second.

[code]

[2016-09-09 17:43] davihu commented on #259
I did Trait implementation of NestedSet, it is completely rewriten and supports database locking, so no broken trees on paralles usage :), also all bugs are solved there. If someone is interrested, I could push it to incubator, but need to watch it first and do some tests. Its not so configurable, but works, and thats it. I had many issues with actual behavior implementation.

[2016-09-29 17:51] RayHughes opened #668 "Encrypt Session Cookie"
When using this adapter, session cookies are not encrypted in the browser. Phalcon's crypt library seems to have no effect on this library.

[2016-10-02 17:14] sergeyklay commented on #438
Fixed in the `3.0.x` branch.

[2016-10-02 17:14] #438 closed

[2016-10-17 07:22] duncan3dc commented on #576
@kaioken I presume you are passing the `$ignoreErrors` argument as true? That would be why you aren't seeing an error. Could you post a short script to reproduce the problem?

[2016-10-21 16:29] adam-rocska commented on #585
Hi @dschissler. Is this issue closable?

[2016-10-21 16:29] adam-rocska commented on #221
@lucvht I see, that there is a related PR that's merged. Is this issue closable?

[2016-10-21 21:59] dschissler commented on #585
Yes

[2016-10-21 21:59] #585 closed

[2016-10-22 06:27] #221 closed

[2016-10-28 12:49] jellisii opened #682 "incubator/Library/Phalcon/Session/Adapter/Database loses session data when using SqLite3"
Using SQLite3 with the Session Database adapter, data seemingly randomly gets reset in the session table.  I'm currently using the PHP dev server on with PHP 7 on Ubuntu 16.04.

Schema in SQLite3:

[code]

Session adapter configuration:

[code]

To replicate, I used two separate controllers, the first redirecting to the second:

[code]

[code]

The session id doesn't change, so I think it's MOSTLY

[2016-10-29 22:12] parkercameron opened #683 "UnitTestCase getConfig() returns boolean"
In reference to: \Phalcon\Test\UnitTestCase::getConfig() L171

Snippet
[code]

Should most likely be
[code]

This is present in v2.0.13

[2016-10-29 23:31] sergeyklay commented on #683
Fixed in the `3.0.x` branch.

[2016-10-29 23:31] #683 closed

[2016-11-01 20:36] cottton opened #684 "Phalcon\Http\Client\Provider\Curl does not return 200 OK on 100 Continue requests."
If a customer header is given then the response returns a 100 Continue http status.

Test:
- **calling** a controller that expects a post request
- using **heavy payload** to force server -> client 100 Continue
- call once **without** any custom **headers**
- **write** response into **file**
- call once **with** any custom **header**
- **write** response into **file**

Result:
_1st is expected, 2n

[2016-11-01 21:56] sergeyklay commented on #684
Could you please provide Incubator version?

[2016-11-01 23:03] cottton commented on #684
3.0.x

I just found out that `$customHeader` mean custom header =)

see https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Http/Client/Provider/Curl.php#L116

`$header[] = 'Expect:';`

If i provide a `['Expect' => '']` as parameter `$customHeader` (as it happen if no custom header is given) then the correct status will be returned.

_Reason why it works: server does not return staus

[2016-11-01 23:13] sergeyklay commented on #684
Well, `array_combine` creates an array by using one array for keys and another for its values. So I think we can improve addMultiple a bit more. Could you please try to sort out and send PR?

[2016-11-01 23:30] cottton opened #685 "Missing isset() and default (null?) return value if !isset"
see https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Http/Client/Header.php#L71

On calling `get($name)` we run into a undefined index.

I know about the `has` method. But imo it should check if is set, and if not return null.

Thanks,
cottton

[2016-11-01 23:52] cottton commented on #684
Done. see https://github.com/phalcon/incubator/pull/686

[2016-11-02 00:18] sergeyklay commented on #685
I think `array_key_exists` better fix

[2016-11-04 02:44] MLukman commented on #663
Hello sir, may I know if there's any progress on this issue?

[2016-11-07 10:37] web-ted opened #687 "Http/Client/Provider/Curl.php ignores full response default option"
When making post request using http client in 3.0.x production releases a full body is returned by default. In master branch the issue seems fixed. The issue also doesn't appear in 2.0.x releases.
This breaks all http requests that use the body to retreive the response as it is.

[2016-11-07 22:14] sergeyklay commented on #687
@web-ted Could you please explain a bit more. Provide simple script to reproduce, expected and actual behavior.
Thanks

[2016-11-07 23:34] sergeyklay commented on #687
Cc: @cottton

[2016-11-07 23:47] cottton commented on #684
Created pull request for `$customHeader` -problem: https://github.com/phalcon/incubator/pull/688

Its ok, if previously set headers gets ignored. But we should get that `Expect:` fix working on custom headers also.

[2016-11-08 10:06] web-ted commented on #687
$provider = Request::getProvider();
        $provider = $this->provider;
        $provider->setBaseUri('http://example.hostname.com:3325');
        $provider->header->set('Content-Type', 'application/x-www-form-urlencoded');
        $provider->setTimeout(10);
        $provider->setConnectTimeout(6);

        $responseSt = $provider->post('/test/add', 'option1=testOptionVal');

        echo $respon

[2016-11-08 10:15] web-ted commented on #687
To be more specific check this prototype from Curl class:

      private function send($customHeader = array(), $fullResponse = false);

This assumes that $fullResponse is false (by default) and the actual resposne includes full body response. It seems that something is happening while calling curl and setting its options. This doesn't happen to master branch  but it can be reproduced in 3.0.1.

[2016-11-10 02:08] cottton opened #689 "Http/Client/Provider/Curl CURLOPT_HEADERFUNCTION memory problem / __destruct not called."
_Took me 4 hours (or more) to find out why the curl provider eats memory._

**Test**:

    #$client = new \Phalcon\Http\Client\Provider\Curl();
    while (1) {
        $client = new \Phalcon\Http\Client\Provider\Curl();
        $client->get("http://localhost"); // or post, put, ... (any)
        var_dump(memory_get_usage());
    }

    // "phalcon/incubator": "3.0.x",
    // PHP_VERSION 7.0.11

**

[2016-11-10 21:14] sergeyklay commented on #684
Fixed in the `3.0.x` branch.

[2016-11-10 21:14] #684 closed

[2016-11-10 22:45] sergeyklay commented on #689
Fixed in the `3.0.x` branch.

[2016-11-10 22:48] sergeyklay commented on #663
@MLukman I'll try to sort out ASAP. I'm sorry for delay

[2016-11-11 03:52] esoftcard opened #694 "Nested set behaviour not work with Postgresql and Phalcon 3"
I have tried to intergrated this to project, but this seem not work
https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/Model/Behavior/NestedSet.php

[2016-11-11 06:20] sergeyklay commented on #694
Could you please provide a bit more information.

[2016-11-11 06:31] esoftcard commented on #694
I have created Model with : lft, rgt, root, level, title attribute
Install Incubator, tested with Slug is OK=> so behaviour should work.
In controller, I set as example:
addAction with folow:
[code]
Model:
[code]
But it doesn't work. Nothing save to database, no error noticed

[2016-11-11 08:33] sergeyklay commented on #694
Provide please table schema

[2016-11-11 09:10] esoftcard commented on #694
Here is it:

lft: integer
rgt: integer
level: integer
title: varchar
slug: varchar
root: integer
parent_id: integer
id: primary key

table without any Foreign key

[2016-11-11 09:53] sergeyklay commented on #694
I'll try to sort out ASAP.

[2016-11-11 13:37] esoftcard commented on #694
thank you , hope to receive your reply soon about this

[2016-11-11 19:53] cottton commented on #554
Just a guess and workaround: try without header `Content-Length`.

[2016-11-12 07:51] esoftcard commented on #694
is there any update ?

[2016-11-13 20:13] sergeyklay commented on #663
Can't reproduce.

[code]

[code]

[code]

[code]

[2016-11-14 16:14] Ark4ne commented on #687
The problem is currently present on 3.0.1.

But, on 3.0.x-dev, it's worse.
I think @sergeyklay that you applied two different patch of the problem.

On 3.0.x-dev, the start of the response is truncated by the length of the header.

[code]

The fix I had proposed was to set `CURLOPT_HEADER = false`. Because using CURLOPT_HEADERFUNCTION, we do not need to retrieve the header in the curl response. It

[2016-11-17 21:29] victorwbuzz commented on #610
here the same at phalcon 3.
Render only the index action

[2016-11-25 14:42] ruudboon opened #696 "Call to undefined method Phalcon\Db\Adapter\MongoDB\Collection::insert()"
I created a new collection extending Phalcon\Mvc\MongoCollection

[code]
When trying to insert a new collection like this
[code]
I get Call to undefined method Phalcon\Db\Adapter\MongoDB\Collection::insert()
$hero->save() works.

[2016-12-02 09:30] alekciy commented on #603
OC: Debian 7, PHP: 5.4.45, Phalcon: 2.0.10, phalcon/incubator: ^2.0
deleteNode() not work.

[code]

NestedSet use [update](https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/Model/Behavior/NestedSet.php#L779) method. How fix?

[2016-12-04 18:53] Jurigag opened #700 "[NFR]MongoCollection Uniqueness and Phalcon\Validation support"
In phalcon 3.1.0 there will be added `Phalcon\Validation` support for `Phalcon\Mvc\Collection` https://github.com/phalcon/cphalcon/pull/12445. Since that MongoCollection need some changes to make it work with `Phalcon\Validation` too as well with Uniqueness validator(DIRTY states).

~Any idea how to solve it ? Should there be whole different Uniqueness class for MongoCollection in incubator ? Or i

[2016-12-05 10:35] benjamineukles commented on #687
I think there is a problem with the solution given by @Ark4ne
I was in version 3.0.1 and then ran a composer update, which has put the incubator to its lastest stable version 3.0.2.
After that, all my curl calls failed. When I've analyzed the response of the curl, i was that it was cut... And this is because in the version 3.0.2 the CURLOPT_HEADER option is set to false by default.

In the send me

[2016-12-07 07:01] dschissler opened #702 "The entire Firebug extension has been discontinued"
Is there any other potential technology in any browser that could provide the header based logging that was possible with Firebug + Firelogger?

[2016-12-12 00:02] sergeyklay commented on #696
Fixed in the 3.0.x branch. Thanks

[2016-12-12 00:02] #696 closed

[2016-12-12 13:40] kowach commented on #687
Problem is that this [line](https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Http/Client/Provider/Curl.php#L157)  where `$fullResponse` is false by default and this [line](https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Http/Client/Provider/Curl.php#L80) where `CURLOPT_HEADER => false`.   So `$content` has only body, no header.
While `$this->responseHeader` is auto

[2016-12-12 21:29] sergeyklay commented on #687
Fixed in the `3.0.x` branch. Thanks

[2016-12-12 21:29] #687 closed

[2016-12-12 22:02] sergeyklay commented on #685
Fixed in the `3.0.x` branch.

[2016-12-12 22:02] #685 closed

[2016-12-12 22:12] sergeyklay commented on #554
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the Incubator, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2016-12-12 22:12] #554 closed

[2016-12-12 22:12] #663 closed

[2016-12-12 22:13] #576 closed

[2016-12-17 02:36] ulfims opened #718 "Dialect Oracle not working on Oracle Express 11.2"
### Expected and Actual Behavior

ORM Generate:
[code]
Error Message:
[code]

[code]

Configuration database:
[code]
### Details

* Phalcon Framework version:

[code]
* Phalcon Incubator version:
incubator Version: `"phalcon/incubator": "^3.0"`
Composer version: `Composer version 1.2.4 2016-12-06 22:00:51`
* PHP Version:
[code]
* Operating System: `Ubuntu 16.04`
* Server: `Apache 2.4`
* Other rela

[2016-12-17 02:41] ulfims commented on #718
@andresgutierrez
I have Temporary solution :  Add :

`$this->_escapeChar = '"';
`
before exit method.

Full Method (Modified):
[code]

Does it best solution or there is another option?

Note:
I have try  change :
`$this->_escapeChar = '"';`

It will produce another error which is more error than this one.
My analize:
Oracle have problem escaping column with `'` character, but need ok with table es

[2016-12-17 09:55] sergeyklay commented on #718
@ulfims Could you please submit PR to the `3.0.x` branch?

[2016-12-23 15:42] ulfims commented on #718
Tested on Oracle xe 12 , 11.2 oracle
More detail on my commit push

[2016-12-23 15:45] ulfims commented on #718
@sergeyklay Sorry, how do I submit PR to the `3.0.x` branch?

[2016-12-23 15:54] sergeyklay commented on #718
@ulfims

1. Fork Phalcon Incubator
2. Then:
[code]

[2016-12-23 16:10] ulfims commented on #718
@sergeyklay Hopefully I did the right thing

[2017-01-10 07:18] tkroll opened #722 "Subcollection in MongoCollection"
### Expected and Actual Behavior

Using Phalcon\Mvc\Collection with old mongo driver, subcollection returned as arrays

Using Phalcon\Mvc\MongoCollection with mongodb driver, subcollection is StdClass

### Details

Fixed by changing line 303. See https://forum.phalconphp.com/discussion/15261/sub-collection-access-in-mongocollection-vs-collection

* Phalcon Framework version: 3.03
* Phalcon Incubat

[2017-01-20 12:26] cottton opened #725 "Curl adapter ::initPostFields does not check for \CURLFile"
See PR https://github.com/phalcon/incubator/pull/724

The example

    $provider = \Phalcon\Http\Client\Request::getProvider();

    // POST a file
    $file = '/home/mine/myimage.jpg';
    $response = $provider->post('me/upload', [
        'access_token' => 1234,
        'file'         => curl_file_create(realpath($file)),
    ]);

    echo $response->header->statusCode;

would have been encoded.

[2017-02-02 16:39] cottton commented on #689
Would like to re-open this because this fix brought a new bug (sorry for that).

`$this->setOption(CURLOPT_HEADERFUNCTION, null);` fixed the problem where the destuct did not get called.
But this line MUST be below `if ($errno = curl_errno($this->handle)) {`
beacuse otherwise a previous occurred curl error gets unset.

Test:

    while (1) {
        $client = new \Phalcon\Http\Client\Provider\Curl

[2017-02-03 09:12] AnzeDspot opened #727 "PHPUnit_Framework_TestCase not found"
Following documentation for creating functional tests with Phalcon and Incubator error in the title is thrown and can be fixed by changing namespace of the PHPUnit TestCase.

https://docs.phalconphp.com/en/3.0.0/reference/unit-testing.html

Currently Phalcon Incubator UnitTestCase extends PHPUnit TestCase in following way:

use PHPUnit_Framework_TestCase as TestCase;

which does not work, since it

[2017-02-09 09:22] AnzeDspot commented on #727
Hello,

I can prepare merge request for this if you want.

[2017-02-09 11:23] sergeyklay commented on #727
It will be fine!

[2017-02-09 17:51] #725 closed

[2017-02-09 18:09] cottton opened #729 "Curl error lost/reset/broke due to #690"
_As written here (but was already closed so nw issue here) https://github.com/phalcon/incubator/issues/689#issuecomment-277010236_

`$this->setOption(CURLOPT_HEADERFUNCTION, null);` fixed the problem where the destuct did not get called.
But this line MUST be below `if ($errno = curl_errno($this->handle)) {`
beacuse otherwise a previous occurred curl error gets unset.

**Test:**

Expecting

code

[2017-02-09 20:22] cottton opened #731 "Provider\Curl should accept/expect curlopt_* strings over integer"
`\Phalcon\Http\Client\Provider\Curl::setOption` and `\Phalcon\Http\Client\Provider\Curl::setOptions` expects  CURLOPT_* constants _(perfectly fine)_.
The problem here is if you have an app that merges its configs (f.e. global overwrites local ...)
and `array_merge` (or a similar working function) is used
then the integer behind the CURLOPT_ constans (f.e. CURLOPT_RETURNTRANSFER === 19913) gets reo

[2017-02-09 20:26] cottton commented on #731
Simple `::isCurlOptString` test:

**Code**

    function isCurlOptString($option)
    {
        return (is_string($option)
            && strpos(strtoupper($option), 'CURLOPT_') === 0
            && defined(strtoupper($option)));
    }

    $constants = get_defined_constants(true);
    $curlOpts = preg_grep('/^CURLOPT_/', array_flip($constants['curl']));

    // some negative tests
    $curlOpts[]

[2017-02-10 01:24] elcreator opened #732 "CURLOPT_HEADER will not be true by default in Phalcon\Http\Client"
[code]

now library returns headers in two places: concatenated with response and in headers field.
of course, $fullResponse = false. (headers will be doubled in content if true)

[2017-02-10 01:28] elcreator commented on #732
[code]

[2017-02-10 06:22] sergeyklay commented on #732
Cc: @cottton

[2017-02-10 14:11] cottton commented on #732
Which framework **version**?
Im using 3.0.3 here
`CURLOPT_HEADER` is default `false`.
see https://github.com/phalcon/incubator/blob/3.0.x/Library/Phalcon/Http/Client/Provider/Curl.php#L80

Try `$client->setOption(CURLOPT_HEADER, false);` before `->post(...)`.

Here a test on a live test-api:

    $baseUri = 'https://jsonplaceholder.typicode.com';
    $path = '/posts';
    $params = ['key' => 'secr

[2017-02-10 21:02] elcreator commented on #732
2.1.x https://github.com/phalcon/incubator/blob/2.1.x/Library/Phalcon/Http/Client/Provider/Curl.php#L78

[2017-02-11 08:15] sergeyklay commented on #732
The 2.1.x is no longer supported. You have to use v3 or override the class, making the necessary corrections.

[2017-02-11 08:15] #732 closed

[2017-02-15 09:36] #731 closed

[2017-02-15 09:39] cottton commented on #729
_this is a bug and imo high prior_ -bump

[2017-02-15 12:14] sergeyklay commented on #729
@cottton Could you please send a PR?

[2017-02-15 19:35] cottton commented on #729
There is already one: https://github.com/phalcon/incubator/pull/726
I have no idea why the tests failed.
Should i create a new one?

[2017-02-15 20:27] sergeyklay commented on #729
Well, merged. Can we safely close this issue?

[2017-02-15 20:29] cottton commented on #729
yes

[2017-02-15 20:29] #729 closed

[2017-02-15 20:30] #689 closed

[2017-02-16 20:18] RayHughes commented on #668
Any insight?

[2017-02-16 20:53] Jurigag commented on #668
What you mean by this adapter?

[2017-02-16 21:07] RayHughes commented on #668
https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Session/Adapter

[2017-02-16 21:07] #668 closed

[2017-02-16 21:09] RayHughes opened #735 "Session adapter cookie not encrypted"
When using https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Session/Adapter , the session token cookie is not encrypted as it should be. Rather, the raw value is provided to the users browser.

[2017-02-16 21:56] Jurigag commented on #668
And which exactly one? Why closed issue? Is it working now?

[2017-02-16 22:54] RayHughes commented on #668
No. I closed and opened with more info

[2017-02-28 16:09] dercoder opened #739 "Aerospike Cache prepare content part missing"
The content will not be prepared like here:
https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backend/redis.zep#L226
https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backend/redis.zep#L173

[2017-02-28 17:34] sergeyklay commented on #739
The Aerospike client (C-extension) able to do it myself. Or I did not understand you. Could you please elaborate on that?

[2017-02-28 17:39] dercoder commented on #739
For example i want to use Igbinary or Base64 frontend to save this data in this format to Aerospike server.
Here
https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Cache/Backend/Aerospike.php
the frontend cache convertation will be ignored.
`$frontend->beforeStore();` and `$frontend->afterRetrieve();` is missing in this code

[2017-02-28 19:43] sergeyklay commented on #739
Yes, I understand you. But what problems it causes?

[2017-02-28 20:13] dercoder commented on #739
Next example:
[code]

Data will be saved at Aerospike server as array and not as base64 string.
Other backend cache will convert it correct like Redis, Memcache, ...
So the Aerospike backend cache is not really compatible.

The reason why i convert the data is that Aerospike can not handle big arrays.
So i want to convert them to strings.

[code]

[2017-02-28 21:09] dercoder commented on #739
Some more informations:
https://github.com/aerospike/aerospike-client-php/blob/master/doc/README.md#handling-unsupported-types

This is also very important to save data as bytes and not as strings.

[2017-02-28 21:46] dercoder commented on #739
When you use `Aerspike\Bytes()` to save the data, you can ignore the frontend cache.
This is also the fastest method to save and read data.

20000 writes and reads

Without Aerspike\Bytes()
Aerospike write in 35.44 seconds
Aerospike read in 10.57 seconds

With Aerspike\Bytes()
Aerospike write in 25.72 seconds
Aerospike read in 8.17 seconds

[2017-03-01 20:58] sergeyklay commented on #722
Fixed in the `3.0.x` branch.

[2017-03-01 20:59] #722 closed

[2017-03-08 11:29] Jurigag commented on #700
Before we release phalcon 3.1.0 i think this should be implemented i think @sergeyklay

[2017-03-08 12:48] lubberscorrado commented on #663
Found the issue: @sergeyklay testcase is of course working fine, because it is instantiating the dialect class directly in php.
The issue still happens when the Zephir Adapter tries to access the incubator Oracle Dialect by itself (within the c-extension part of Phalcon), just like the example @mnashmi has given.

The workaround, which will also help @mnashmi is your last testcase: Give the dialec

[2017-03-08 18:59] sergeyklay opened #743 "Beanstalk extended / Fork helper issue"
Hello @duncan3dc

I've created this issue to show you main problem with Beanstalk extended / Fork helper.
Build failed: https://travis-ci.org/phalcon/incubator/jobs/209075699

Sometimes this happens with PHP 7, sometimes with PHP 5.6, sometimes all ok.

Failed only this test: https://github.com/phalcon/incubator/blob/3.0.x/tests/unit/Queue/Beanstalk/ExtendedTest.php#L186-L194

Could you please tak

[2017-03-09 23:25] #743 closed

[2017-03-10 09:41] duncan3dc commented on #743
Hi @sergeyklay, how can I just run the `Beanstalk` tests? I used to use `phpunit` but it looks like this repo doesn't work with it anymore:
[code]

[2017-03-10 09:44] sergeyklay commented on #743
@duncan3dc You can see all steps at .travis.yml

[2017-03-10 09:45] duncan3dc commented on #743
@sergeyklay But that runs the entire test suite, I only want to test the `Beanstalk` namespace

[2017-03-10 11:39] sergeyklay commented on #743
Yes `codeception run relative/path/to/the/test/file/here` :)

[2017-03-10 12:59] duncan3dc commented on #743
Thanks @sergeyklay, but it still looks like that runs unrelated code (the `Beanstalk` tests don't require a PDO connection do they?):
[code]

[2017-03-10 13:06] sergeyklay commented on #743
@duncan3dc Ho yes... Could you please open `unit.suite.yml` and disable database initialization by comment module Db: https://github.com/phalcon/incubator/blob/master/tests/unit.suite.yml#L14

[2017-03-15 12:25] Jurigag commented on #700
Implemented in 3.1.x branch

[2017-03-15 12:25] #700 closed

[2017-03-20 13:32] terax6669 opened #749 "Phalcon\Mailer - Missing spool transport"
This is a feature request. Are there any plans to add spool support?

[2017-03-20 13:56] sergeyklay commented on #749
Hello. Yes, in near future.

[2017-03-22 08:43] armonb opened #750 "MongoCollection datatypes"
Since v3.0.4 (commit 898ea411565091f33d9249c429674dfcccaf36a4)

When retrieving documents from a mongo database using Phalcon\Mvc\MongoCollection ,  all objects are now retrieved as arrays ignoring the data type originally specified.

I assume this is due to the change on line 303.

[2017-03-28 16:19] Jurigag opened #752 "Db Factory"
https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Db/Adapter/Factory.php

This class could be removed for 3.2.x since it will be built-in in phalcon 3.2.0

[2017-04-03 06:03] kpasokhi commented on #750
I confirm this issue. We used objects in our entire project but this change broken our code.
Please revert datatype to object.

[2017-04-03 10:26] tigerstrikemedia commented on #750
I think there has been several issues around this, I do not have a copy currently that I can create a pull request with, I can write some code, test and create one later on tonight or tomorrow morning.

I think the solution that would be most flexible, and easily adaptable for everyones code would be to set the typemap as a property on the class. EG:

[code]

[2017-04-05 09:13] sunz5010 commented on #750
I have the same problem

[2017-04-10 18:57] cottton opened #757 "Curl client head stucked (fix)"
As title says

as `\Phalcon\Http\Client\Provider\Curl::head`
the curl_exec is stuck due to missing option `CURLOPT_NOBODY`.

**Test** (hangs forever):

    $client = new \Phalcon\Http\Client\Provider\Curl();
    $response = $client->head('https://google.com');
    var_dump($response->header->status);
    // "phalcon/incubator": "3.0.x",
    // PHP_VERSION 7.0.11

Fix: see PR

PR : https://github.c

[2017-04-12 07:36] dschissler opened #759 "Remove PHP 5.4 notice in /Phalcon/Mvc/Model namespace"
https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Mvc/Model: `PHP versions under 5.4 do not support traits, use instead Phalcon\Mvc\Model\EagerLoading\Loader methods`.

Does anything else need to be cleaned up with this?

[2017-04-12 07:41] sergeyklay commented on #759
@dschissler Incubator does not support PHP 5.4
https://github.com/phalcon/incubator/blob/master/.travis.yml#L17

Could you please explain a bit more?

[2017-04-12 09:11] dschissler commented on #759
Look at the bottom of the link and you will see the text that I quoted.  It is an old notice about PHP 5.4 and below.  I'd make a pull request but I don't know if there are other things to cleanup as well.  I just noticed this when I was browsing around in the code.

[2017-04-12 10:43] sergeyklay commented on #759
Ah, got it. Yah, we need to remove this

[2017-04-14 10:31] MaksSlesarenko opened #760 "DI is not found in MongoCollection using Phalcon 3.1 and PHP 7.1"
Getting error in MongoCollection after updating to Phalcon 3.1.2 and PHP 7.1

[code]

Current workaround in model class
[code]
### Details

* Phalcon Framework version: 3.1.2
* Phalcon Incubator version: 3.0 & 3.1
* PHP Version: 7.1.2
* Operating System: Centos
* Server: CLI
* Other related info (Database, table schema): Mongo

[2017-04-15 11:00] rabrowne85 commented on #603
Looking at some of the other functions the shiftLeftRight function usually has an ignoreEvent call before/after it. Therefore, wrapping ```$this->shiftLeftRight($key, $delta);``` on Line 586 with the ignoreEvent call as follows seems to solve the issue:
[code]

N.B. I have no idea if this is the full/valid solution, but it is definitely a "workaround".

[2017-04-17 00:55] MoneyCoder opened #761 "HandlerSocket Adapter extension compile failed on PHP 7.1"
Can't compile HandlerSocket php extension at PHP 7.1, please help.

https://github.com/kjdev/php-ext-handlersocketi/issues/6

[2017-04-18 08:38] sergeyklay commented on #761
[code]

[2017-04-18 08:38] #761 closed

[2017-04-18 13:37] tkroll commented on #760
Related: https://forum.phalconphp.com/discussion/15927/mongocollection-wont-save

Also seems to be ignoring getReservedAttributes()

[2017-04-20 21:31] cottton commented on #757
merged -- thanks @sergeyklay

[2017-04-20 21:31] #757 closed

[2017-04-22 11:12] ktrhn opened #762 "MongoCollection: Save does not only write attributes"
**Behaviour**

When creating a new MongoCollection object, setting a property and then saving it, all the private fields, and not only the attributes, are saved as well.

[code]

**Result**

<img width="632" alt="2017-04-22 13-09-02" src="https://cloud.githubusercontent.com/assets/5049311/25303928/f4d29720-275c-11e7-8614-4ede1b85539f.png">

**Expected**

Only _id and name gets set in the document.

[2017-04-27 13:43] Jurigag commented on #762
I wonder if the same happens for php5 and Phalcon\Mvc\Collection?

[2017-05-02 03:04] tkroll commented on #762
@Jurigag Works fine for me

PHP 5.6.23
Phalcon 2.0.10
Mongo 3.0.14

[2017-05-03 01:42] dereckmartin commented on #762
I have the same issue with PHP7.1, I didn't have this issue on PHP7.0

Phalcon + PHP
[code]

MongoDB
[code]

I even installed Mongo 2.6 that you can get from base Ubuntu repository, and I get the same issue:
[code]

[2017-05-03 01:51] dereckmartin commented on #762
I can confirm downgrading to php7.0 resolves the issue:

[code]

PHP version
[code]

[2017-05-03 14:57] micheleangioni opened #764 "Specify in readme how to successfully run tests"
### Expected and Actual Behavior

Running all Incubator tests without errors.

It's too long to paste the errors I get and probably it's not even the point.

[code]

### Details

* Phalcon Framework version: 3.1.2
* Phalcon Incubator version: master
* PHP Version: 7.1.4
* Operating System: Ubuntu 16.04
* Server: --

### Explanation

Successfully running all Incubator tests is not straightforward a

[2017-05-03 17:59] sergeyklay commented on #764
Actually you can follow [**`.travis.yml`**](https://github.com/phalcon/incubator/blob/master/.travis.yml). Isn't it?

[2017-05-04 05:24] tkroll commented on #764
This is indeed needed. There is specifically a problem with incompatibility with Codeception.

[2017-05-04 06:17] sergeyklay commented on #764
Well, PR are always welcome

[2017-05-04 09:33] micheleangioni commented on #764
@sergeyklay that probably would work, but I would hope into something clearer, even because it is using Travis parameters. At very worst just write in the readme "follow .travis.yml file" but really, this is anything but clear.

We should put ourselves into a new developer shoes and try to make it as easy as possible for him to contribute. I hope that you agree that "follow .travis.yml" is actuall

[2017-05-04 11:00] tkroll commented on #764
Trying to build the tests locally was a fool's errand.

I understand Travis now. Works fine

Thanks for the hint.

[2017-05-08 21:00] dereckmartin opened #766 "MongoDB Uniqueness Validation Model::Update()"
### Expected and Actual Behavior

On model validation, uniqueness validation is applied to a field.  In this case 'email'.  If the unique field value in the collection for the given id is same as the record id being updated, the validation should not fail.

[code]

Currently, validation is failing when updating a record with a uniqueness field when the old and new value are the same.

### Details

[2017-05-08 21:29] Jurigag commented on #766
What `$result->getDirtyState()` returns after update?

[2017-05-08 22:04] dereckmartin commented on #766
I am commenting and closing.  Reason: Self inflicted pain due to PEPCAK.

I was issuing a POST instead of a PUT, and my createAction was being invoked instead of the updateAction.

Everything works as it should.

[2017-05-08 22:10] Jurigag commented on #766
Oh okay. You sure, right, you checked it?

[2017-05-10 09:50] Jurigag commented on #766
@dereckmartin well actually it works, but it just most likely it just call exists method when it's not necessary needed, update is needed anyway to improve performance so we could reopen this anyway

[2017-05-10 09:53] MaksSlesarenko commented on #760
I've updated issue, error happens on update not insert

[2017-05-10 10:04] Jurigag commented on #760
MongoCollection extends `Phalcon\Mvc\Collection`. Here is collection construction - https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/MongoCollection.php#L186, here it sets dependencyInjector -
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/collection.zep#L95

Not sure what happens, it should work. Any idea?

[2017-05-10 10:14] MaksSlesarenko commented on #760
@Jurigag  look at @tkroll  comment

[2017-05-10 10:42] Jurigag commented on #760
For me on php 7.0.13 it works but i have:

[code]

From code like:

[code]

I guess when updating collection we should remove `_id`

[2017-05-10 11:42] Jurigag commented on #762
Yea, it happens only for php 7.1, looks like zephir problem.

[2017-05-10 12:52] Jurigag commented on #762
Well i have this even on php 7 for some reason. Like `getReservedAttributes()` just return null.

[2017-05-11 14:29] micheleangioni commented on #760
@sergeyklay I'm having the same problem. Updating to PHP 7.1 and Phalcon 3.1.2 somehow broke an application where we are using Mongo.

I get `A dependency injector container is required to obtain the services related to the ODM` when updating records.

Instead, when deleting records I get

[code]

I do not know whether @sergeyklay is the maintainer or someone else, but please this should have very

[2017-05-11 14:43] Jurigag commented on #760
I can't reproduce it, i checked it on latest phalcon and incubator and it works fine, i have other error above.

[2017-05-11 14:48] micheleangioni commented on #760
It's strange you cannot reproduce it, since many people are having the same problem..

Are you using PHP 7.1? Because with PHP 7.0 it probably works fine

[2017-05-11 14:51] Jurigag commented on #760
Yes, using php 7.1 i have:

[code]

[2017-05-11 15:18] micheleangioni commented on #760
Interesting question, though in the app I use the FactoryDefault, in the tests it's the `Phalcon\Test\UnitTestCase` class that sets the DI with `$di = new Di();` where DI is `use Phalcon\Di;`, after a `Di::reset();`,  [line 63](https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Test/UnitTestCase.php#L63)

[2017-05-11 15:28] Jurigag commented on #760
Then idk, i just don't have it really. Weird issue, and this problem you have in both, like app and tests?

[2017-05-11 16:01] micheleangioni commented on #760
It seems both, but tomorrow I'll make some more detailed checks!

[2017-05-11 16:12] Jurigag commented on #760
I just don't have this error, which is weird, you could try doin something like Di::setDefault($di) but i doubt it will fix it. dependencyInjector is set in parent class. Further it's not lost anywhere as you trying to talk. Though surely there is problem with those reserved attributes, maybe it's causing this di error, not sure.

[2017-05-12 08:01] micheleangioni commented on #760
@Jurigag ok, it seems the errors are present **only in tests**.
So the problem seems to be something related with the Incubator itself, between the Mongo and Test modules?

In the parent class I have `$di = Di::getDefault();`. Even if I change it to `$di = new \Phalcon\DI\FactoryDefault();` and/or add ` Di::setDefault($di);` nothing changes.

I agree that's weird.. but several people seem to have

[2017-05-15 13:47] micheleangioni commented on #760
I can confirm I have this problem also in the web (i.e. not in tests).

Here is the error when I try to save a model:

[code]

Is there any progress about this?

[2017-05-15 15:29] Jurigag commented on #760
If someone will post full script to reproduce then sure i guess.

[2017-05-16 15:40] tkroll commented on #760
Can someone test 7.1.5.
RE: Fixed bug #74188 (Null coalescing operator fails for undeclared static class properties).

This is interesting as many static props were undeclared.

[2017-05-16 15:52] micheleangioni commented on #760
@tkroll still same problem with

`PHP 7.1.5-1+deb.sury.org~xenial+1`

[2017-05-16 15:54] tkroll commented on #760
Boo. Thanks for trying. It was a shot in the dark.

[2017-05-16 16:17] Jurigag commented on #760
It works for me on 7.1.0, i just have error what i wrote above, someone needs to create repo with full code to reproduce.

[2017-05-17 11:35] Jurigag commented on #760
https://github.com/phalcon/incubator/pull/768

As you see we don't have error with this Di thing, we need script to reproduce.

[2017-05-19 13:31] #759 closed

[2017-05-23 14:41] Jurigag commented on #760
@baychae why you thumb down? If you have script to reproduce then post it please.

[2017-05-23 15:45] micheleangioni commented on #760
@Jurigag @sergeyklay  I have now a public repo that shows this problem.

[PHP 7.0](https://travis-ci.org/micheleangioni/phalcon-repositories/jobs/235275595) : just 1 test failing
[PHP 7.1](https://travis-ci.org/micheleangioni/phalcon-repositories/jobs/235275596) : ALL Mongo tests failing

[PHP 7.1 with FIX](https://travis-ci.org/micheleangioni/phalcon-repositories/jobs/235260523) : just 1 test fai

[2017-05-23 16:07] Jurigag commented on #760
@micheleangioni i have this thing about _id too, i think it's about mongodb/mongodb extension version, that from some version they disabled option to update `_id` field.

[2017-05-23 16:11] micheleangioni commented on #760
@Jurigag it might be, but in the failing test I am NOT updating the _id field, that's the point!
I am updating another field.

We have to understand how to fix both problems, because at the moment this Mongo library is not usable :(

[2017-05-23 16:12] Jurigag commented on #760
@micheleangioni yea yea, you are not updating _id field, but phalcon just pass to mongodb update method _id in array - this is why there is this error.

[2017-05-23 16:18] Jurigag commented on #762
This is zephir related bug - https://github.com/phalcon/zephir/issues/1536

[2017-05-23 16:53] baychae commented on #760
@Jurigag If this is an easy fix could you provide it here? This is a blocking issue for me.

[2017-05-23 17:04] Jurigag commented on #760
https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/MongoCollection.php#L125

Here most be removed `_id` from toArray() result.

[2017-05-23 17:10] baychae commented on #760
My problem must be something else.

My error occurs here:

https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/MongoCollection.php#L75 <https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/MongoCollection.php#L75>

Error message is here (same as OP):

https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/MongoCollection.php#L77 <https://github.com/ph

[2017-05-23 17:11] Jurigag commented on #760
@baychae yea but we need script to reproduce your problem and OP problem, right now i can't so can't fix it.

[2017-05-24 08:21] Jurigag commented on #760
Any idea why when testing locally i have:

[code]

Though in travis it's fine?

[2017-05-24 09:00] micheleangioni commented on #760
@Jurigag nice to hear to know how to fix the _id issue. Please try to push the fix asap, it's really a blocking problem! Thanks :)

About the `[Error] Call to a member function notifyEvent() on array` error, that's the other bug, the PHP 7.1 one.

The Travis build without the FIX is failing as well, take a look [here](https://travis-ci.org/micheleangioni/phalcon-repositories/jobs/235275596) . Mayb

[2017-05-24 10:47] Jurigag commented on #760
This is not a fix, this is workaround, issue is happening because getReservedAttributes is not working.

[2017-05-24 11:11] micheleangioni commented on #760
Absolutely agree this is only a workaround, as I wrote!

However in Travis PHP 7.0 seems to be ok. Maybe it has been fixed in a recent version of PHP 7.0 or viceversa it has recently happened in 7.0 too.
Who is the responsible for zephire, sergeyklay?

[2017-05-24 11:14] Jurigag commented on #760
We are responsible for zephir obviously, it's part of phalcon.

[2017-05-24 11:28] micheleangioni commented on #760
Yeah yeah I know, I mean the main person.
However, should we open an issue on the zephir repo? Is someone already investigating the zephir bug? Just to know if there is a plan, not to make pressure :)

[2017-05-24 11:38] Jurigag commented on #760
I already opened it and added test.

[2017-05-24 13:23] micheleangioni commented on #760
Great :)

[2017-05-24 14:34] Jurigag commented on #760
Actually it's not zephir issue, it's php bug - https://bugs.php.net/bug.php?id=74648

https://github.com/phalcon/cphalcon/pull/12862 here will be fix for this DI/modelsManager etc issue.

[2017-05-25 19:12] ktrhn opened #782 "MongoCollection find: PHP Fatal Error MongoDB\BSON\Serializable not found"
Strange issue when doing `find` on `MongoCollection`

Some requests work without an issue, same request later I get the following fatal error, seems totally random. Got this on multiple machines (OS X and Gentoo Linux). PHP 7.1.1 and 7.1.5, Phalcon 3.1.2, current phalcon-incubator, php-mongodb-driver 1.2.9, mongodb 3.4.4. I also tried downgrading php-mongodb-driver and phalcon-incubator. Did not c

[2017-05-25 19:14] ktrhn commented on #762
I use the suggestion here https://github.com/phalcon/incubator/issues/760#issuecomment-294846629 as a workaround, seems to be the same problem?

[2017-05-26 09:49] 3amprogrammer commented on #603
@rabrowne85 every other `shiftLeftRight` method call across NestedSet class is wrapped with ignoreEvent assignments so this seems like a valid solution.

[2017-05-27 18:11] scottf-tvw commented on #782
I am now getting the same error. but for Unserializable. it was working fine in a composer pull from a few weeks ago.

[2017-05-29 00:42] ktrhn commented on #782
Sometimes the php handler just dies and does not even output the error. So mybe this is some problem in the underlying php-mongodb-driver?

[code]

[2017-05-29 07:56] Jurigag commented on #782
Since it's seg fault, post please stack from gdb.

[2017-06-07 09:40] micheleangioni commented on #760
Hi @Jurigag ,
I see you are fixing the `notifyEvent()` bug/problem in [phalcon/cphalcon/pull/12862](https://github.com/phalcon/cphalcon/pull/12862), looking forward for the fix to be complete :)

About the `_id` problem, is there a PR o fix in progress?
Thanks!

[2017-06-08 14:35] sergeyklay commented on #603
Fixed in the `3.2.x branch`. Feel free to open new issue if the problem appears again. Thank you for contributing.

[2017-06-08 14:35] #603 closed

[2017-06-08 14:36] #727 closed

[2017-06-09 15:32] jellisii commented on #682
I've finally had some time to play with this, and what appears to be happening is that the session data actually gets set, then is promptly stomped on in a subsequent update.

index.php
[code]

indexController.php
[code]

AnnounceController.php
[code]

Logging during a post request on /index, largely from the database profiler:
[code]
The second update is the problem.  I'm not sure why it updates

[2017-06-10 02:04] aliel commented on #760
Thanks!

+1

[2017-06-12 05:19] scottf-tvw opened #787 "allowDiskUse in aggregate"
Possible? can't seem to find a way to pass options when using `model::aggregate([pipeline])`

cannot add options array to static method, even though the constructor allows it at the Aggregate class.

[2017-06-12 10:27] Jurigag commented on #762
Also im not sure if i even understand this getReservedAttributes correctly, shouldn't it have ALL protected propertis from `Phalcon\Mvc\Collection` or `Phalcon\Mvc\MongoCollection` ? It looks like get_object_vars in zephir returns values inconsistent?

[2017-06-12 12:01] Jurigag commented on #760
https://github.com/phalcon/cphalcon/pull/12891 waiting for merging this, then i will change build script because currently incubator uses latest stable phalcon(we need to use source and zephir) and will fix this _id issue and check if tests are passing.

[2017-06-13 13:57] ktrhn commented on #782
Seems to be related to mongodb and not phalcon, although I am not sure if it is really the same error as in the first post.
https://github.com/mongodb/mongo-php-library/issues/374

[2017-06-13 15:16] Jurigag commented on #782
So you reproduced it on without phalcon? We can close it?

[2017-06-13 15:19] ktrhn commented on #782
I am not sure. I could not reproduce the original fatal error "MongoDB\BSON\Serializable not found" on cli. With fpm i am getting the sporadic php fatal error, on cli I get the sporadic segfaults. All a little strange.

[2017-06-15 08:38] sergeyklay commented on #764
Well, documentation process has been started. Feel free to amend or send corrections.

[2017-06-15 08:38] #764 closed

[2017-06-20 08:54] Jurigag commented on #782
Hmm i will close this for now, if you think there is bug then ping me.

[2017-06-20 08:54] #782 closed

[2017-06-20 08:55] Jurigag commented on #762
In phalcon 3.2 it should be working fine right now.

[2017-06-20 08:55] #762 closed

[2017-06-20 08:59] Jurigag opened #794 "MongoCollection doesn't have update method"
Not sure if this is correct or not but there is `Phalcon\Mvc\Collection::update` but yet `Phalcon\Mvc\MongoCollection` doesn't override this method. I think we should have update method with proper code for php 7/7.1 too.

If someone doesn't know what's the difference between update and save - update just updates already existing instance only, save creates or updates instance, depending on operat

[2017-06-20 09:08] Jurigag commented on #760
Okay i merged mod on `_id` fix. Though we don't have update method at all in `Phalcon\Mvc\MongoColection` which seems weird. All should work now. If someone who is using mongo in their app could check Latest phalcon(3.2) and incubator on 3.2.x branch to check if everything works it could be good. Then i will merge this `mod on _id` fix to master if everything is fine, if not will try to fix other

[2017-06-20 10:36] tkroll commented on #760
Just did:
git clone https://github.com/phalcon/cphalcon
cd cphalcon/build
sudo ./install --phpize /usr/bin/phpize7.1 --php-config /usr/bin/php-config7.1

then

composer require phalcon/incubator:^3.2

Got this error:

PHP Fatal error:  Uncaught Phalcon\Mvc\Collection\Exception: A dependency injector container is required to obtain the services related to the ODM in /var/www/outsmart/shared/utils/i

[2017-06-20 10:39] Jurigag commented on #760
Script to reproduce?

[2017-06-20 10:44] tkroll commented on #760
$u = User::findByEmail('test@test.com');
$u->helloThere = 1;
echo $u->email, PHP_EOL;
$u->save();

My User class extends \Phalcon\Mvc\MongoCollection. It echos correctly.

[2017-06-20 11:13] Jurigag commented on #760
Hmmmmm. Could you try other database? It's possible that you just have in mongo `_dependencyInjector` key saved.

[2017-06-20 11:27] tkroll commented on #760
Oh snap! Good call.

Did a quick:

`
db.user.update(
	{},
	{
		$unset: {
			"_dependencyInjector":1,
			"_modelsManager":1,
			"_source":1,
			"_operationMade":1,
			"_dirtyState":1,
			"_connection":1,
			"_errorMessages":1,
			"_skipped":1
		}
	},
	{multi:1}
)
`
And we appear to be back in business!

[2017-06-20 11:28] Jurigag commented on #760
Yea now the question is:

- should people just update their databases to unset those keys
- or we should unset them in framework?

[2017-06-20 11:41] tkroll commented on #760
I'd think outside the framework. It's a bit of work to do every time.

This worked for me. No warranty on this.

https://gist.github.com/tkroll/53fa3e9151d9232e7399e313b503dc97

[2017-06-20 11:44] Jurigag commented on #760
Okay, so now i will close it, let me know if anything other occur, also there is this - https://github.com/phalcon/incubator/issues/794 if you could comment here it could be good.

[2017-06-20 11:44] #760 closed

[2017-06-20 11:45] Jurigag commented on #762
If someone still have problems https://github.com/phalcon/incubator/issues/760#issuecomment-309721818 then read this comment and below.

[2017-06-23 14:28] sergeyklay opened #796 "Oracle auto incremented ID column is empty after model->save()"
_From @skaosYan on June 8, 2015 9:58_

I have Phalcon 2.0.2 and Oracle 12c. I have created sequence and set getSequnceName() function for my model. But model->save() still raises an error "ORA-01400: cannot insert NULL" for a primary key.

_Copied from original issue: phalcon/cphalcon#10485_

[2017-06-23 14:28] sergeyklay commented on #796
_From @skaosYan on June 8, 2015 18:30_

Does anybody have any clue, is it a bug?

[2017-06-23 14:28] sergeyklay commented on #796
_From @andresgutierrez on July 1, 2015 14:13_

Are you manually setting the meta-data of that model?

[2017-06-23 14:28] sergeyklay commented on #796
_From @skaosYan on July 1, 2015 19:7_

No, I do not use metadata classes. I only use columnMap (actually I am forced to use columnMap, because Phalcon by default generates column names in quotas , when Oracle treats quotes as case-sensitive names).

[2017-06-23 14:28] sergeyklay commented on #796
_From @skaosYan on July 1, 2015 19:11_

Do you need any logs or additional info?

[2017-06-26 11:01] hajcu opened #797 "Change Phalcon 3.2.0 methods"
Change methods in Blamable.php from hasChanged(), getChangedFields(), getSnapshotData() to hasUpdated(), getUpdatedFields(), getOldSnapshotData()

[2017-06-26 12:32] sergeyklay commented on #797
@Jurigag Could you please take a look

[2017-06-26 16:16] Jurigag commented on #797
Yea i will update it, i already have waiting branch with this. Try to to it next week.

[2017-07-04 15:57] micheleangioni commented on #760
@Jurigag I'm still having problems.
Please take a look at [this Travis build](https://travis-ci.org/micheleangioni/phalcon-repositories/jobs/235260523)

I am using the last Incubator version

Line 1070: `  - Installing phalcon/incubator (dev-master 4913dc0): Cloning 4913dc021f`

Any clue? Thanks

[2017-07-04 20:25] Jurigag commented on #760
It's fixed line above with `unset($data['_id']);`

[2017-07-07 07:57] micheleangioni commented on #760
@Jurigag ok now I get it, the PR has been merged in the 3.2.x branch but NOT in the Master branch. Is that really ok? Shouldn't be merged in both?

[2017-07-07 08:29] Jurigag commented on #760
It wasn't? Oh i must forgot it. Let me merge it.

[2017-07-07 08:31] Jurigag commented on #797
Done in 3.2.1

[2017-07-07 08:31] #797 closed

[2017-07-07 08:57] micheleangioni commented on #760
Thanks :)

[2017-07-07 10:02] Jurigag commented on #760
Great, happy to hear, also i would like to know your opinion about https://github.com/phalcon/incubator/issues/794

[2017-07-07 11:27] micheleangioni commented on #794
I agree with you @Jurigag . With MongoCollection currectly one is forced to always use save(), but it would be nice to have update as well.

[2017-07-10 16:16] sergeysviridenko commented on #558
@Jurigag Could you give more information?
`https://github.com/phalcon/docs/blob/master/en/reference/acl.rst#function-based-access` link is bad

[2017-07-10 16:28] sergeyklay commented on #558
@sergeysviridenko The new URL is https://docs.phalconphp.com/en/3.2/acl#function-based-access

[2017-07-10 16:50] sergeysviridenko commented on #558
@sergeyklay Thank you

[2017-07-14 08:34] Caffe1neAdd1ct commented on #682
I've had a quick debug through this and narrowed the issue down to `Phalcon/Session/Adapter/Database.php` line `163`:

[code]

By the looks of it previous session data isn't being included into the update statement, therefore wiping the session data with only the variable being currently set.

I'm writing a pull request now to try and fix this however need to know what has been used to make the da

[2017-07-14 09:01] jellisii commented on #682
https://github.com/phalcon/cphalcon/blob/master/phalcon/session/adapter.zep seems to indicate that it uses php's `session_start`.  I would assume that `session_encode` and `session_decode` are in play.

[2017-07-14 09:21] Caffe1neAdd1ct commented on #682
@jellisii thanks :+1:  that should make it easier to parse and merge the incoming data with the existing data..

[2017-07-14 10:03] Caffe1neAdd1ct commented on #682
Looks like `session_decode` and `session_encode` at the `Database.php` level will be unusable, i'm getting boolen values back and encode only works on the data in $_SESSION, it doesn't have a parameter to pass $data to.

https://github.com/psr7-sessions/session-encode-decode - might be a good option for merging and re-encoding the session data.

[2017-07-14 11:59] Caffe1neAdd1ct commented on #682
So far i have the following solution working, however it doesn't play well with uniqueId session setting.

[code]
Also due to a small typo in the https://github.com/psr7-sessions/session-encode-decode the following is needed in composer.json until the pull i've raised gets accepted:

[code]
Currently this solution limits to using php 7 as the session-encode-decode package is using strict-types, i'

[2017-07-14 13:17] sergeysviridenko commented on #682
I guess, I have easier decision this problem. I'm checking it.

[2017-07-14 13:25] Caffe1neAdd1ct commented on #682
Also we are missing the has($index) implementation as well ... doesn't work when using a db session adapter.

[2017-07-17 10:21] sergeyklay opened #801 "[NFR] PostgreSQL row sorting: implement [NULLS { FIRST | LAST }]"
_From @globalundo on April 15, 2013 13:36_

Currently, on executing following piece of code:

[code]

Exception rises:

[code]

_Copied from original issue: phalcon/cphalcon#548_

[2017-07-17 10:21] sergeyklay commented on #801
_From @phalcon on April 15, 2013 14:30_

How could that syntax be rewritten to work on Mysql and Sqlite?

[2017-07-17 10:21] sergeyklay commented on #801
_From @globalundo on April 15, 2013 15:25_

As far as I'm concerned, there is no native NULLS { FIRST | LAST }, but there are some workarounds http://stackoverflow.com/questions/1498648/sql-how-to-make-null-values-come-last-when-sorting-ascending
 http://stackoverflow.com/questions/12503120/how-to-do-nulls-last-in-sqlite for mysql and sqlite respectively.

[2017-07-17 10:21] sergeyklay commented on #801
_From @roman-kulish on May 10, 2013 1:20_

@phalcon Why should it even work in Sqlite and MySQL? I see no reason for it. If somebody wants to use advanced database features then framework should provide this possibility, otherwise it is a framework limitation. If framework tends to be compatible with all databases it should be flexible, but not impose limitations.

[2017-07-17 10:21] sergeyklay commented on #801
_From @phalcon on May 12, 2013 0:58_

Because the goal of PHQL is transparent switch between the supported databases. Support every possible no sql-standard syntax is almost impossible. Also, we can't automatically escape columns/table names or rename columns if PHQL is not used.

[2017-07-17 10:21] sergeyklay commented on #801
_From @igorgolovanov on May 21, 2013 12:7_

Can be solved by https://github.com/phalcon/cphalcon/issues/653

[code]

[2017-07-17 10:21] sergeyklay commented on #801
This belongs in Incubator Dialect.

[2017-07-26 10:50] sergeysviridenko commented on #682
Fixed

[2017-07-26 11:10] Caffe1neAdd1ct commented on #682
Just tested and csrf tokens and session info is still being overwritten on additional key/values being stored in the column.

[2017-07-26 11:51] sergeysviridenko commented on #682
Could you provide more information? My PR solved problem with empty data after read. It's working. There is a test for write and read.

[2017-07-26 11:53] Caffe1neAdd1ct commented on #682
I'll put a quick test together to show the issues with write, basically it overwrites existing data with only the new data coming in instead of merging.

[2017-07-26 11:59] Caffe1neAdd1ct commented on #682
Ok on re-testing with your changes looks like the write method is acutally working now! Looks like i've been over thinking this one (doh). I'll close the pull off :+1:

[2017-07-26 12:15] sergeysviridenko commented on #682
Ok. I understood. I glad to help. I tested it many times and it worked very well. If you find problem feel free to open new and now I propose to close this issue.

[2017-07-26 12:16] Caffe1neAdd1ct commented on #682
Also propose to close, @sergeysviridenko 's fix is working perfectly for me.

[2017-07-26 12:18] #682 closed

[2017-07-26 12:23] jellisii commented on #682
Thank you very much for fixing this.

[2017-07-26 12:28] jellisii commented on #702
Could possibly use http://log4javascript.org/docs/manual.html along with it's `getHeaders()` method to create something.

[2017-07-26 13:55] sergeysviridenko commented on #682
you're welcome

[2017-08-01 04:33] tkroll opened #808 "MongoCollection::find now requires fields param to be associative array"
Old code using the fields param as an array now fails with only the _id returned.

`$blah = Blah::find([`
 `'fields' => ['a', b', c'],`
 `'conditions' => ['a' => 1]`
`]);`

Field parms now works when expressed with the field as the key and 1 as the value:

`$blah = Blah::find([`
 `   'fields' => [`
`        'a' => 1,`
`        'b' => 1,`
 `       'c' => 1`
 `   ],`
`    'conditions' => ['a' => 1]`

[2017-08-01 05:36] sergeyklay opened #809 "[NFR] Iban validator"
_From @ruudboon on May 27, 2014 5:52_

It would be nice if Phalcon can validate the International Bank Account Number (IBAN).

From what I found the base of an IBAN is validated by converting it into an integer and performing a basic mod-97 operation (as described in ISO 7064) on it. If the IBAN is valid, the remainder equals 1. Besides that I think you also need to parse the local information abo

[2017-08-01 05:36] sergeyklay commented on #809
IBAN banking codes is too specific to be in core. This feature request should be moved to the Incubator.

[2017-08-01 07:19] sergeyklay commented on #808
@sergeysviridenko Could you please take a look

[2017-08-01 11:15] Jurigag commented on #801
So someone only need to add it to postgresql dialect, quite easy thing to do.

[2017-08-04 08:01] galki opened #814 "graphql support"
graphql is getting popular. after using graphql in a python project i dont want to go back to REST anymore. however phalcon is my only choice in php. i thus desire graphql support. also, i believe support will be inevitable in the near future as graphql overtakes rest/routing/acl - although this is a personal assumption.

there is [various php support](https://github.com/chentsulin/awesome-graphql

[2017-08-23 13:26] sergeysviridenko commented on #809
New link on the Git https://github.com/zendframework/zend-validator/blob/master/src/Iban.php

[2017-09-04 10:11] lanlin commented on #814
graphql, that's we need.

[2017-09-11 16:05] Jenselme opened #815 "Slug doesn't revert locale correctly"
### Expected and Actual Behavior

I am using [Slug.php](https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Utils/Slug.php) to generate slugs in a phalcon project. The project is configured to display the dates in French. However, after I generate a slug, the dates are in English. If I don't create a slug, the dates are in French as expected.

I expect the date to be always in French.

[2017-09-14 19:17] YujiShen opened #816 "ACTION_CASCADE not working on deleteNode of Nestedset"
### Expected and Actual Behavior

I have a Menu model and a MenuContent model, they are 1 to n relationship. Menu model uses nested set. When I use deleteNode() on a Menu record, the MenuContent does not delete.

Here is initialize function for each model:

#### Menu
[code]

#### MenuContent
[code]

### Details

* Phalcon Framework version: 3.2.2
* Phalcon Incubator version: 3.2.2
* PHP Version: 7

[2017-09-15 17:56] YujiShen commented on #816
Sorry, it is a typo. In Menu model, it should be `foreignKey` instead of `foreignKeys`.

[2017-09-15 17:56] #816 closed

[2017-09-19 04:53] bestirani2 opened #817 "Database adapter for session"
I get error after using regenerateId for database session
my problme solved after remove session_destroy()  at line 208
https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Session/Adapter/Database.php
I think it is a loop.

### Details
* Phalcon Framework version:3.2
* Phalcon Incubator version: 3.2
* PHP Version: 7
* Operating System: Ubuntu
* Server: Nginx

[2017-09-23 12:56] ruudboon opened #821 "MysqlExtend DATE_SUB support"
### Expected and Actual Behavior

I've changed auth example of Vokuro to work with datetime field in mysql and stumbled on an error.
When running a count with parameters on my model I get:

Syntax error, unexpected token NUMERIC PLACEHOLDER(?1), near to ' HOUR)', when parsing: SELECT COUNT(*) AS rowcount FROM

[code]
Running a query like the one below works fine.

SELECT COUNT(*) AS rowcount FROM

[2017-09-23 20:10] Jurigag commented on #821
No, you are using it jsut wrong:

It should be `DATE_SUB(NOW(), DATE_INTERVAL(10, 'HOUR')`

[2017-09-23 20:10] #821 closed

[2017-09-25 17:13] bkvaiude opened #822 "Codeception not able to load Class 'Phalcon\Mvc\MongoCollection' using Phalcon Loader"
Hello Guys,

I'm using PHP7 and phlacon3.2.2 for my project.
I have written few test cases for the model and run them using following steps

Don't know the reason. Then loaded the class using `require` function and got following output

I was hoping that phalcon will load the classes using loader (at beginning level), but it was not working in that way.

I would appreciate the help and guidance on

[2017-09-26 09:41] bkvaiude commented on #822
## Got a reply from Codeception team:

Unless your project uses composer autoloader, you have to set up it manually.

To achieve that you have to enable bootstrap files by adding

[code]

to codeception.yml file.
Then create _bootstrap.php files in tests directory and in each suite and finally include and setup the loader in tests/unit/_bootstrap.php file.

[2017-09-26 09:41] #822 closed

[2017-09-26 14:19] sergeysviridenko commented on #809
I propose close this issue.

[2017-09-26 14:56] #809 closed

[2017-09-26 18:25] Jurigag commented on #809
Added in 3.2.3

[2017-10-04 21:15] YujiShen opened #825 "Nested Set Validation Problem"
### Expected and Actual Behavior

I am using `Inclusion` validator on a model with NestedSet behavior, when the validation fails, I can not get error message I set. The transaction seems stoped inside `appendTo` method, and said `There is no active transaction`. But it works correctly if I use `saveNode` when validation fails. And if I use `Callback` validator, no issue at all.

### Details

* Pha

[2017-10-13 06:38] academici opened #828 "[3.2.3] Mailer send with view template error"
Error: Instantiation of 'Closure' is not allowed in /var/www/site/vendor/phalcon/incubator/Library/Phalcon/Mailer/Manager.php on line 313

[code]
### Details

* Phalcon version: 3.2.3
* PHP Version: 7.1.10
* Operating System: Debian GNU/Linux 8.9 (jessie)
* Zephir version:  0.10.3
* Inclubator version: 3.2.3

[2017-10-13 13:30] sergeysviridenko commented on #825
@YujiShen could you provide a little bit more information to reproduce?

[2017-10-15 14:34] temuri416 opened #829 "[NFR] Nested Set - pass custom parameters to search query OR implement user callback to modify DB queries"
Hi,

I need to be able to do something like this:

[code]

What do you think - maybe we need some sort of listener to pass the `$query` from here:

https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/Model/Behavior/NestedSet.php#L206

And, to generalize it, call user method before each of the `return $query->execute()` that access the DB?

Thanks!

[2017-10-15 15:40] temuri416 commented on #829
Maybe what we really need is a support for Event Manager and observers.

[2017-10-15 16:57] temuri416 commented on #829
Something like this:

https://gist.github.com/temuri416/05b94d7e3491994993a997d150d32ea0#file-nestedset-php-L21

[2017-10-15 17:30] Ultimater commented on #829
Very practical need to be able to grab descendants with an extra condition.

I believe the best solution here would be changing `return $query->execute();` to `return $query;` in [descendants](https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/Model/Behavior/NestedSet.php#L202-L220) based on the presence of a 3rd boolean parameter. Then you can extend NestedSet and easily modify

[2017-10-15 17:35] Ultimater commented on #829
A listener could work too. Depends on what people like working with.

[2017-10-15 17:49] Ultimater commented on #829
I feel your pain that you'd expect a solution as readable as the code you posted:

    $children = $node->descendants([
        'approved' => 1,
    ]);

But then we're forgetting about the optional parameters:

    public function descendants($depth = null, $addSelf = false)

and you wind up with:

[code]

[2017-10-15 17:54] temuri416 commented on #829
Right, that's why implementing Events Manager is much cleaner.

[2017-10-15 18:35] Ultimater commented on #829
What if we needed three kinds of queries: `approved => 0`, `approved => 1`, and an omitted version?
Then you're calling a method before descendants in order to toggle some sort of global state.

Searching is rather case specific and shouldn't be toggling a global state in my opinion.

I'd counter-suggest adding a new method.
Perhaps:
[code]

[2017-10-15 18:38] temuri416 commented on #829
My idea is that query modification is done by implementer:

[code]

Here your ` $node` that implements Nested Set behavior will contain the callback that will do anything it needs.

[2017-10-15 20:04] temuri416 commented on #829
1. I have also improved `roots()` method in my gist.
2. Perhaps another useful addition would be to fire **cancelable** events with 'modify:' prefix before tree modification takes place: `append()`, `appendTo()`, `moveBefore()` and so on.

[2017-10-16 16:14] YujiShen commented on #825
I try to reproduce, but it is good now. Maybe caused by other code. Thanks for your time.

[2017-10-16 16:14] #825 closed

[2017-10-18 12:13] sergeysviridenko commented on #238
@cullsin could you test it on Phalcon 3, please?

[2017-10-20 11:38] sergeysviridenko commented on #829
I propose close this issue

[2017-10-20 11:42] sergeyklay commented on #829
Implemented in the latest stable release. Feel free to open a new issue if the problem appears again. Thank you for contributing!

[2017-10-20 11:42] #829 closed

[2017-10-20 12:09] sergeyklay commented on #828
Fixed in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-10-20 12:09] #828 closed

[2017-10-22 15:47] rabrowne85 opened #835 "Filename error: Traits/EventManagerTrait.php"
When using the NestedSet behaviour of the MVC, the latest version of 3.2.x throws an error that `Phalcon\Traits\EventManagerAwareTrait was not found.`

Looking at the source, I feel that the filename is incorrect and should be: T`raits\EventManagerAwareTrait.php` and not `Traits\EventManagerTrait.php`.

Either that, or the trait name needs to be changed to `EventManagerTrait` and the corresponding

[2017-10-22 16:43] sergeyklay commented on #835
@rabrowne85 Could you please send a fix?

[2017-10-22 16:44] sergeyklay commented on #835
// cc: @sergeysviridenko

[2017-10-23 09:01] sergeyklay commented on #835
Fixed in the [latest stable release](https://github.com/phalcon/incubator/releases/tag/v3.2.5).
Thank you for the report, and for helping us make Phalcon better.

[2017-10-23 09:01] #835 closed

[2017-10-26 03:35] Fenikkusu opened #838 "Mongo DB Testing Error"
When running the codeception unit suite on my laptop, this error is coming up:

[code]

I've ran the codecept build command, but this had no affect. I don't have mongo and don't plan on installing it. I'm not sure of the 'codeception' method to fixing this and I'm currently working on something else, so I wanted to go ahead and report it at the least. In most cases, the tests extend Unit. In this

[2017-10-26 05:43] sergeyklay commented on #838
Probably we should replace `markTestSkipped` by

[code]

[2017-10-26 13:21] Fenikkusu commented on #838
I actually tried that.

[code]

The problem was that after I did that, PHPStorm started acting weird and terminated the Codeception run. It seemingly ran alright in the terminal, but I wasn't sure if it was really the proper fix or not. Granted, I've had troubles before with the codeception integration.

[2017-11-03 13:12] sergeysviridenko commented on #838
@Fenikkusu I can't reproduce. Actually you can run not all tests. You can separate and use just you test if you'd like to test something yours.

[2017-11-10 12:07] sergeysviridenko commented on #702
I propose move this issue to forum. This isn't any bugs or proposition of features. How do you think @sergeyklay ?

[2017-11-10 12:08] sergeysviridenko commented on #694
There isn't any reaction. I propose to close this issue. If problem will appear again, we open new one.

[2017-11-10 12:14] #694 closed

[2017-11-10 12:18] sergeyklay commented on #702
We'll need to remove obsolete or/and abandoned code from the incubator. Phalcon Incubator isn't an archive of everything in the world. In this repository we welcome submissions from the community of libraries that could extend  the framework more and may be moved to the Phalcon in future.

[2017-12-07 02:40] kideny opened #841 "MongoDB RuntimeException with message 'Invalid reply to find command.'"
### Expected and Actual Behavior
[code]

[code]

### Details

* Phalcon Framework version: (`php --ri phalcon`)

phalcon => enabled
Author => Phalcon Team and contributors
Version => 3.2.0
Build Date => Jun 26 2017 12:01:06
Powered by Zephir => Version 0.9.9-868cb1f92b

Directive => Local Value => Master Value
phalcon.db.escape_identifiers => On => On
phalcon.db.force_casting => Off => Off
phalcon

[2017-12-07 02:55] kideny commented on #841
phalcon version update to 3.2.4，this error  repeat。

[2017-12-07 05:24] sergeyklay commented on #841
Could you please provide a minimal script to reproduce by using Phalcon?

[2017-12-07 11:07] kideny commented on #841
// Initialise the mongoDB Alarm connection.
        $di->setShared("mongoAlarm", function () {
            /** @var \Phalcon\DiInterface $this */
            $config = $this->getShared('config');

            if (!$config->mongo->username || !$config->mongo->password) {
                $dsn = 'mongodb://' . $config->mongo->host;
            } else {
                $dsn = sprintf('mongodb://%s:%s@

[2017-12-08 09:44] #841 closed

[2017-12-25 12:54] omnispex commented on #238
I have the same issue tested on latest Phalcon version (3.3)

[2017-12-29 14:16] ninjapanzer opened #842 "[API] __wakeup() method"
###### COPIED FROM https://github.com/phalcon/docs/issues/1464

PER @emiliodeg

Even in Phalcon sources there is no such method
Should we remove this method from all exception classes?

[2017-12-31 07:57] sergeyklay commented on #842
@ninjapanzer Could you please explain a bit more

[2017-12-31 07:59] sergeyklay commented on #238
@omnispex Could you please provide a minimal script to reproduce?

[2018-01-01 20:56] emiliodeg commented on #842
Hi Sergey as you can see in all exception class i.e. [Acl_Exception](https://github.com/phalcon/docs/blob/3.2/en/api/Phalcon_Acl_Exception.md), [Annotation_Exception](https://github.com/phalcon/docs/blob/3.2/en/api/Phalcon_Annotations_Exception.md), etc all have a `__wakeup()` method inherited from [PHP Exception class](http://php.net/manual/en/class.exception.php) but this class don't have this `

[2018-01-01 22:03] sergeyklay commented on #842
@emiliodeg As you can see we just extend standard Exception class

[code]

[code]

There is no `__wakeup` method. Also I'm pretty sure it isn't Incubator issue. Please [use proper place for documentation related issues](https://github.com/phalcon/docs/issues). Thank you for the report, and for helping us make Phalcon better.

/cc @ninjapanzer

[2018-01-01 22:03] #842 closed

[2018-01-02 14:54] emiliodeg commented on #842
I know that, the `__wakeup`  method is in API doc [ACL Exception](https://github.com/phalcon/docs/blob/3.2/en/api/Phalcon_Acl_Exception.md)

[2018-01-03 10:56] sergeyklay commented on #842
Anyway it is not Incubator issue :)

[2018-01-03 16:37] emiliodeg commented on #842
yeap but @ninjapanzer move it here ¯\_(ツ)_/¯

[2018-01-05 15:41] erisrayanesh opened #846 "parameters argument for partial is missed"
https://github.com/phalcon/incubator/blob/eb7d17522cb4037c3359faa6a32a11f4387b83c3/Library/Phalcon/Mvc/View/Engine/Twig.php#L58

Hi there.
I think parameters argument for partial is missed

[2018-01-05 20:37] omnispex commented on #238
Hello Serghei

Sorry for the late reply!
But I’ve created a very small sample app that illustrates my problem.
It worked fine under Phalcon 3.2 but not under the 3.3 version.
The MySql cache class can be found in the helpers folder:

1. Setup a db and run the dump.sql file in schema folder
2. Set proper config vars in app/config settings
3. Set proper permission for app/cache and it’s subfolders.

[2018-01-06 11:07] sergeyklay commented on #838
Fixed in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2018-01-06 11:07] #838 closed

[2018-01-09 14:56] sergeysviridenko commented on #238
@omnispex issue `SQLSTATE[HY093]: Invalid parameter number` appears when your params aren't defined.
Could you try to use like this?
[code]
Your error has to disappear.

[2018-01-09 20:25] omnispex commented on #238
Thanks, The error disappeared, but now, I have a **Cache must be started first** error.
Normally this occurs when you've added something like an echo, var_dump, etc before the cache started, but nothing of that is in my code.

[2018-01-10 11:45] sergeysviridenko commented on #238
@omnispex you should start your session. This isn't a bug.

[2018-01-13 10:17] #238 closed

[2018-01-31 07:33] aprchen commented on #762
I have some situation here, save can take effect, but the modification and deletion are not effective,
![image](https://user-images.githubusercontent.com/13740363/35610164-3d72ecfa-069b-11e8-8fd7-fdf02dceeedb.png)
It turns out to be the same.
![image](https://user-images.githubusercontent.com/13740363/35610212-6124cb96-069b-11e8-851f-f19e580213c9.png)
When I use the following method, the modificat

[2018-01-31 08:00] aprchen opened #850 "[Mongo]I have some situation here, save can take effect, but the modification and deletion are not effective,"
I have some situation here, save can take effect, but the modification and deletion are not effective,
![image](https://user-images.githubusercontent.com/13740363/35610164-3d72ecfa-069b-11e8-8fd7-fdf02dceeedb.png)
It turns out to be the same.
![image](https://user-images.githubusercontent.com/13740363/35610212-6124cb96-069b-11e8-851f-f19e580213c9.png)
When I use the following method, the modificat

[2018-02-08 18:13] #817 closed

[2018-02-08 18:13] #846 closed

[2018-02-10 03:51] inhere opened #852 "Whether to get rid of twig,swiftmailer 's direct dependence"

[2018-02-10 15:15] sergeyklay commented on #852
Incubator uses twig and swiftmailer as dependencies for its own adapters. Is there a real problem due to fetch those dependencies?

[2018-02-10 15:15] #659 closed

[2018-02-11 02:22] inhere commented on #852
I just want to use some of these components.

This direct dependency, I downloaded a lot of useless code.

[2018-02-11 08:55] sergeyklay commented on #852
Yet another way is to _clone_ repo and using Phalcon Loader. In this case you can avoid installing extra dependency.

[2018-02-11 08:55] #852 closed

[2018-02-22 00:05] sverdier opened #854 "conflict same namespace \Phalcon\Db\Dialect\MysqlExtended on phalcon/devtools"
I used phalcon/devtools and phalcon/incubator and class \Phalcon\Db\Dialect\MysqlExtended exist on devtools and incubator with same namespace \Phalcon\Db\Dialect\MysqlExtended.
If I used dialectClass => MysqlExtended, I have an error because MysqlExtended of phalcon/devtools is used instead of phalcon/incubator.

[2018-02-23 11:54] nexlev commented on #814
Yes. GraphQL support is desired.

[2018-03-10 09:50] sergeyklay commented on #854
@sergeysviridenko Could you please take a look

[2018-03-12 13:10] sergeyklay commented on #854
Fixed in Devtools 3.3.x branch

[2018-03-12 13:10] #854 closed

[2018-03-23 14:00] lifewcody opened #855 "MongoDB returning _dependencyInjector"
### Expected and Actual Behavior

( MyModel Object ( [_id] => MongoDB\BSON\ObjectID Object ( [oid] => myMongoId ) ) )

( MyModel Object ( [_id] => MongoDB\BSON\ObjectID Object ( [oid] => myMongoId ) ) [_dependencyInjector:protected] => Phalcon\Di\FactoryDefault Object ( [_services:protected] => Array ( [router] => Phalcon\Di\Service Object ( [_name:protected] => router [_definition:protected] => P

[2018-03-28 19:10] tejastank commented on #782
I had faced same issue,

I had fired pecl install mongodb, than
sudo service php7.0-fpm restart
sudo service apcahe2 restart

And my exact same issue shorted :)

[2018-03-30 14:31] sergeysviridenko commented on #752
@Jurigag I propose to remove this class for 4.0.x branch. Also I propose to remove deprecated classes and to keep useful classes for php 7.0 or higher?

[2018-03-30 14:38] sergeysviridenko opened #856 "Refactor incubator"
Refactor and prepare incubator for 4.0.x branch.
Major goals:
- [ ] PHP 7.0 or higher
- [ ] Remove deprecated classes
- [ ] Refactor classes that will be left

[2018-04-16 18:46] krubenrc opened #857 "MYSQL Destroy dont delete row in mysql"
Hello, im using the session adapter to mysql and i found that when is called the function destroy, it dont delete the row in the table of mysql.

I tried to delete table with execute(delete from table ...) and neither work.
Also i tried changing name of the table to other table, in the query execution, and it worked.
[code]

You can help me please? :)

[2018-04-17 18:40] krubenrc commented on #857
Hi!
I've been investigating about this.
The delete query is working fine, but right after that, the write function of the adapter is called and the session is reinserted into the database.

[2018-04-17 18:48] krubenrc commented on #857
I added  **session_write_close();**  at the beginning of the destroy function.

Now it looks like this:

`    public function destroy($session_id = null)
    {
        session_write_close();
        if (!$this->isStarted()) {
            return true;
        }

        if (is_null($session_id)) {
            $session_id = $this->getId();
        }

        $this->_started = false;
        $options

[2018-04-25 08:02] sergeysviridenko commented on #857
Which versions of phalcon and incubator do you use?

[2018-05-08 03:47] MayconGhizzi commented on #801
I have same problem, any solution ?

I try this, but I thing is obsolete:
`$di->modelsManager->registerSimpleQueryFunction('ORDER_BY_NULLS_LAST', '?0 NULLS LAST');`

thanks.

[2018-05-09 21:30] MayconGhizzi commented on #801
I can solve using this:

`"order" => "(ref_year is not null) desc, (ref_number is not null) desc"`.

=*

[2018-06-06 08:45] kakalos12 opened #861 "MongoDB Aggregations empty"
Hi,
I'm having a problem. The aggregations result always return empty. I tried to find the solution on the internet but not in luck. Please help.
This is my code :

[code]
Thanks

[2018-06-07 09:45] sergeyklay commented on #857
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2018-06-07 09:45] #857 closed

[2018-07-13 13:06] borisdelev opened #865 "MongoDB & MongoCollection - findFirst get all documents and return first (no limit 1)"
I am pretty sure MongoCollection findFirst (not only in incubator) retrieve all documents and return first one instead of get just one document. But... let explain:

Hi there...I use MongoDB from incubator (https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Db/Adapter )

[code]

And Ive notice something... If you look code at https://github.com/phalcon/incubator/blob/master/Library/P

[2018-07-13 14:10] cottton commented on #865
Interesting.

`$cursor = $mongoCollection->find($conditions, $options);`
_/Phalcon/Mvc/MongoCollection.php:300_

creates `new Operation\Find`
_/Phalcon/Db/Adapter/MongoDB/Collection.php:451_

calls `execute` which calls `$server->executeQuery`.
From there on i dont know how the limit is handled. May sombody know how  `\MongoDB\Driver\Server::executeQuery` handles the limit.

**But** what i see is

[2018-07-27 16:56] wajdijurry opened #866 "NestedSet Behavior: "Too Few Arguments passes to children()""
My code

Repository.php

[code]
Controller.php
[code]

This  error produced:

The result returned from database, so where is the error exactly ?

[2018-07-27 22:07] wajdijurry commented on #866
I got it, the error was the name of the method.
It should be any ting else than "children" since this name is used by NestedSet class.

[2018-07-27 22:08] #866 closed

[2018-07-28 06:44] mesaglam commented on #814
Yeah, we want it too...

[2018-07-29 20:14] wajdijurry opened #867 "You should not use "beforeUpdate" when "NestedSet" attached"
My code

Model.php

[code]
Controller.php
[code]
Error produced when trying to update a record:

[2018-07-29 20:45] sergeyklay commented on #814
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2018-07-29 20:45] #814 closed

[2018-07-31 04:07] mostvotedplaya commented on #857
The issue is the write method.

If your going to logout of a site you would use something such as:

[code]

Which will invoke the destroy method in the session class, but directly after write is called so the data first gets deleted but then the write method just re-inserts it.

You should follow what i did below to fix it:

[code]

[2018-07-31 20:30] emiliodeg commented on #558
We can implement to serialize and unserialize closures with [Super Closure](https://github.com/jeremeamia/super_closure)

[2018-09-10 19:27] wajdijurry commented on #867
Solved! Just use the methods presented by the model behavior, like saveNode() or appendTo() ... etc

[2018-09-10 19:27] #867 closed

[2018-09-10 19:29] wajdijurry opened #869 "Append root to another category"
Is it able to add root node to another category ?
Example:
[code]

After moving:
[code]

[2018-09-10 19:37] wajdijurry commented on #259
@davihu Could you please push your code ?

[2018-09-11 09:41] okayu8 opened #870 "Can I include body in post submission request?"
Can I include body in post submission request?

I am using post () of Request :: getProvider () to communicate by post.

[code]

Currently, I use pram and requestHeader, but I also want to send it including body.

Is this possible?

Can you tell me how to do it if possible?

[2018-09-11 09:53] #870 closed

[2018-09-12 21:39] wajdijurry commented on #259
I rewrote the method to accept any type of primary keys, for whom are using Uuids instead of serialized integers primary keys (auto-increment).
[code]

[2018-09-12 21:45] wajdijurry commented on #259
I rewrote the method to accept any type of primary keys, for whom are using Uuids instead of serialized integers primary keys (auto-increment). On the other hand, I have the full class rewritten to accept such change, just tell me to send a PR if you're interested.
This method is not fully tested, but works at least for most cases.
Note that moving a root node with its child to another tree is not

[2018-09-13 05:29] liluoao commented on #841
How to repair it in the end?

[2018-10-01 15:12] FaimMedia opened #871 "MongoDB selectCollection"
### Expected and Actual Behavior

I'm trying to connect to a Mongo database, but receiving the following error:

    Fatal error:  Uncaught ArgumentCountError: Too few arguments to function Phalcon\Db\Adapter\MongoDB\Client::selectCollection(), 1 passed in /vendor/phalcon/incubator/Library/Phalcon/Mvc/MongoCollection.php on line 244 and at least 2 expected in /vendor/phalcon/incubator/Library/Phal

[2018-10-16 12:44] Caffe1neAdd1ct opened #872 "Sqlite Sessions won't destroy"
### Expected and Actual Behavior

Installed a basic phalcon application with only incubator attached.

IndexController:

[code]

Visiting `localhost:8000/index` give the following in the `session_data` table:

[code]

Visiting `localhost:8000/index/logout` does remove this record (i've debugged through using xdebug) however the cookie is persisted straight into session again.

Basically i can't ge

[2018-10-16 13:05] Caffe1neAdd1ct commented on #872
Debugging over the destroy() method in Database.php while selecting from the sqlite db:

[code]

The session definitely gets removed...

[2018-10-16 14:15] Caffe1neAdd1ct commented on #872
Interesting situation...

Running on the inbuilt webserver

Request comes in to `index/logout`

`$this->session->destroy();`

Runs successfully.

`favicon.ico` is requested by the browser

Request comes in to `index/`

`$this->session->set('test', '123456789');`

Creates a new session var successfully as its a separate request and runs the DI setup again running `session->start();` correctly.

Not

[2018-10-16 14:27] Caffe1neAdd1ct commented on #872
Another few tests, controller now looks like this:

[code]

To avoid the favicon / other requests loading the default action and setting up a session.

I'm still seeing the session persisting write() is still called and i've checked for additional http requests (none seen)

I've made some small changes to the session adapter which seem to help:

[code]

and inside both `read` and `write` methods a

[2018-10-19 08:21] Caffe1neAdd1ct commented on #872
Linked to https://github.com/phalcon/incubator/issues/857

[2018-11-16 04:13] CameronHall opened #875 "Move Swiftmailer and Twig to Composer "suggest" block"
I believe the libraries used for adapters that the incubator supports should be "suggested" instead of "required". It should be the developer's responsibility to require the library they need opposed to forcing a specific version and/or downloading a library that isn't going to be used.

My specific case being, that SwiftMailer is up to version six. I'd like to upgrade to that version but I'm held

[2018-11-16 15:52] sergeyklay commented on #869
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2018-11-16 15:52] #869 closed

[2018-11-16 15:53] sergeyklay commented on #875
@CameronHall Could you send a patch?

[2018-11-20 01:20] CameronHall commented on #875
Thanks @sergeyklay

[2018-11-20 01:20] #875 closed

[2018-12-06 19:45] Rolando3010 opened #879 "Fatal error: Class Phalcon\Db\Dialect\Oracle contains 1 abstract method and must therefore be declared abstract or implement the remaining methods"
Tengo tengo mi aplicacion trabajando de manera adecuada en la version de phalcon 3.4.1, pero al instalarla en otro servidor con la version 3.4.2 no trabaja, al intentar loguear mi aplicacion obtengo el siguiente mensaje:

Fatal error: Class Phalcon\Db\Dialect\Oracle contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (Phalcon\Db\DialectInterface::s

[2018-12-09 09:21] vietlib opened #880 "Incubator seem not work on PHP7.2 Mongodb 4 Phalcon 3"
I have tried to install Phalcon 3 with PHP7 and MongoDB.

I have installed incubator and do follow:
- Set loader like below:
[code]
- In service.php add
[code]
- Add model: Users
[code]
- Add controller:
[code]

**However the error :**
[code]
Anybody help me, please.

[2018-12-17 16:43] maxttor commented on #541
I have same problem.

I use include_once vendor/autoload.php in bootstrap file but have the problem.

[2018-12-17 16:48] maxttor commented on #541
Swift 6.0.0 (2017-05-19) CHANGES:
removed Swift_MailTransport and Swift_Transport_MailTransport

How now I can use driver "mail" ?

[2018-12-18 10:18] maxttor opened #881 "Can I use the layout for the letter template?"
I use Phalcon\Mailer for sending mails.
Can I use the layout for the letter template?

[2019-01-06 10:03] sonykusyana commented on #879
I also experienced problems like this, please help

[2019-01-08 10:06] TimurFlush opened #882 "Reseting DI on every calling setUp()"
Hello,

Line 57: https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Test/Traits/UnitTestCase.php#L57
**What for?**

It after all will reset all services which I specified in the bootstrap file.

[2019-01-11 05:42] sergeyklay commented on #882
As I remember this method should be invoked before any test method. Thus it re-initialize test environment and dependencies which may have changed during the  previous test.

[2019-01-11 05:44] TimurFlush commented on #882
@sergeyklay But the services that we registered in the bootstrap file will also be reset before testing. Is that right?

[2019-01-11 05:52] sergeyklay commented on #882
Usually the bootstrap file should be called once. But this method - before each test

[2019-01-18 09:40] TimurFlush commented on #882
@sergeyklay, i sent letter to your email 7 days ago. Read as you will be free please.

[2019-01-21 00:48] joeyhub opened #884 "Mongo implementation still tries to use old mongo classes?"
Using the new mongo adapter as instructed in the documentation I get: Fatal error: Class 'mongoid' not found

When trying ```$entity->save()```

[2019-02-04 10:32] iamdann opened #887 "Segmentation Fault when using find() or creating instance of model"
I'm trying to setup MongoDB using this package and it's ODM. Currently everything seems to work except the instantiation of models extending the `\Phalcon\Mvc\MongoCollection` class.

My `services.php`:
[code]

My `Pages.php` model:
[code]

When I try to do the following, my page results in a `The connection was reset` error and `child pid <id> exit signal Segmentation fault (11)` notice in the Ap

[2019-02-04 10:40] ruudboon commented on #887
Phalcon 3.4.2 isn't compatible with PHP 7.3.
V4 for is but still in alpha and continues mongo support is still part of a discussion [here](https://github.com/phalcon/cphalcon/issues/13697)

[2019-02-04 10:57] iamdann commented on #887
Wasn't quite sure if my current setup was supported due to the message on the top of the page found [here](https://docs.phalconphp.com/3.2/en/db-odm). Thanks.

[2019-02-04 11:10] #887 closed

[2019-02-06 11:37] d0niek opened #888 "Incubator doesn't support phpunit 8"
It looks like `incubator` doesn't support `phpunit` **8**

[code]

### Details

* Phalcon Framework version: **3.4.1**
* Phalcon Incubator version: **v3.4.3**
* PHP Version: **7.2.14**

[2019-02-23 12:57] #850 closed

[2019-02-27 15:56] lubber-de commented on #887
Phalcon 3.4.3 is now available for PHP 7.3, so this might get re-opened again

[2019-03-01 22:32] #856 closed

[2019-03-01 22:33] sergeyklay commented on #882
@TimurFlush Is issue still actual ?

[2019-03-02 04:23] TimurFlush commented on #882
@sergeyklay Not actual

[2019-03-02 04:26] #882 closed

[2019-03-05 13:56] verde3ro opened #891 "Error Phalcon DevTools Models Oracle"
I have the following problem when generating the models of an Oracle database.

[code]

I hope you can help me.

[2019-03-11 22:23] Jeckerson commented on #891
https://github.com/phalcon/phalcon-devtools/issues/1274

[2019-03-11 22:23] #891 closed

[2019-03-11 22:25] Jeckerson commented on #881
Yes you can. Checkout `createMessageFromView()` example
https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Mailer#example

[2019-03-11 22:25] #881 closed

[2019-03-11 22:27] Jeckerson commented on #879
@Rolando3010 Upgrade your phalcon/incubator to the latest 3.4.x version.

[2019-03-11 22:27] #879 closed

[2019-05-08 09:36] veso266 opened #900 "HTTPClient can't make POST request to FCM"
### Expected and Actual Behavior

POST / HTTP/1.1
Host: 172.16.101.13:8888
Accept: */*
Authorization: key=API_KEY_HERE
Content-Type: application/json
Content-Length: 410

{"registration_ids":["epj2qIlkiUw:APA91bG3v55hJPDLwEJz67pgAAqdQZAP96x16Rk-Smijdc-Kjn1ltLrwuCqrbF4ULcrsfqs7EmTj3c2USWvuaIinUkgEJpg1qq-_bdyhiswXhhzkd-zTUfah_AgMRoynDu6pTN0kUupR"],"data":{"message":"To je test","title":"Test","subti

[2019-05-08 16:41] cottton commented on #900
Why do you post token? I hope they are not valid or sensitive.

The url `https://fcm.googleapis.com/fcm/send/` does not exist: 404
Not even `http://fcm.googleapis.com/` exists.

[2019-05-08 17:44] veso266 commented on #900
oh right a / at the end and everything fails :smile:

BTW: How can I not send User-Agent header? is there any option for that without modifying the class?

as for baseUrl I didn't know why there are 2 arguments for post() :smile:

BTW: is there any diference between Accept: */* and Accept: / ?

[2019-05-09 00:37] cottton commented on #900
You can set options.
Have a look at
`::getProvider()` returns `\Phalcon\Http\Client\Provider\Curl`
and `Curl` has an `::initOptions()` method. There you can see the default options that will be set.
If you want to change something you can use `::setOption()` or `::setOptions()`.

Example:

    $provider->setOption(CURLOPT_USERAGENT, null);

or this

    $provider->setOption('curlopt_useragent', nu

[2019-05-09 05:48] veso266 commented on #900
Thank you for helping and have a nice day 😃

[2019-05-09 05:48] #900 closed

[2019-05-31 09:22] sowork opened #901 "Use the model->columns() method to return className as Phalcon\Mvc\ model \Row"
### Phalcon\Mvc\Model\EagerLoading\Loader::__construct() $className: Method will not get the real model class

When I use the model cloumns method to restrict query columns, instead of returning the original model class, I return a `Phalcon\Mvc\model\Row`, which prevents me from preloading with the with method.

[2019-06-04 06:03] webbiegoa opened #902 "Phalcon/incubator now gives runtime exception on composer update"
When using composer update I get the following :
[RuntimeException]
Failed to execute git remote set-url composer 'git@github.com:phalcon/incubator.git' && git rev-parse --quiet --verify '6466f08ce755c4a4399cef8ca9ffc410398ef9a0^{commit}' || (git fetch composer && git fetch --tags composer)

Am using
 "phalcon/incubator": "dev-master",
in composer.json

[2019-06-04 09:34] Jeckerson commented on #902
Use **"phalcon/incubator": "3.4.3"** instead of "phalcon/incubator": "dev-master"

[2019-06-04 09:35] Jeckerson commented on #902
Also, show your composer.json scripts

[2019-06-05 03:38] sowork commented on #901
I think the second argument from the `Loader::fromResultset()` can pass the model name,I solved it this way

[2019-06-06 03:32] sowork opened #905 "hope to add a single layer preload condition limit."
e.g
[code]

[2019-07-09 18:35] cottton opened #906 "Call to undefined method ::update() (Phalcon\Mvc\MongoCollection)"
Old issue ?
Thought i better open a new one.
From 2017: https://github.com/phalcon/incubator/issues/794
has this never been merged|fixed?

Test Script:

    var_dump(PHP_VERSION); // string(6) "7.2.19"
    var_dump(Phalcon\Version::get()); // string(5) "3.4.2"
    // "phalcon/incubator": "3.4.x",
    // "phalcon/devtools": "3.4.x",
    // "phalcon/ide-stubs": "~3.4.0",

    class User extends Phal

[2019-07-17 12:08] dercoder opened #907 "Gravatar parts deprecated"
Currently i get this error on PHP 7.3

ErrorException: filter_var(): explicit use of FILTER_FLAG_SCHEME_REQUIRED and FILTER_FLAG_HOST_REQUIRED is deprecated

[code]

* Phalcon Framework version: 3.4.4
* Phalcon Incubator version: 3.4
* PHP Version: 7.3

[2019-07-19 16:43] cottton opened #908 "MongoCollection: Call to a member function notifyEvent() on array in ..."
`Call to a member function notifyEvent() on array in /var/www/html/vendor/phalcon/incubator/Library/Phalcon/Mvc/MongoCollection.php:449`

https://github.com/phalcon/incubator/blob/3.0.x/Library/Phalcon/Mvc/MongoCollection.php#L449

* Phalcon Framework version: 3.1.2
* Phalcon Incubator version: 3.0.x
* PHP Version: 7.1.30

Seems like with cphalcon 3.1.2 no di and no models manager gets set.

Test

[2019-07-26 10:49] cottton opened #909 "\Phalcon\Http\Client\Provider\Curl: curl_setopt_array(): Array keys must be CURLOPT constants or equivalent integer values ..."
**File**: \Phalcon\Http\Client\Provider\Curl

**Error**: curl_setopt_array(): Array keys must be CURLOPT constants or equivalent integer values in file /var/www/html/vendor/phalcon/incubator/Library/Phalcon/Http/Client/Provider/Curl.php line 129.

---
**EDIT:

nothing to see here =)
I was wrong. Misinterpreted the hole case.
Problem was wrong merged configs which lead to `'some_string' => '...'` i

[2019-07-26 12:52] #909 closed

[2019-07-27 11:01] ruudboon opened #911 "Status Update - v4"
This post isn't complete yet.

# WIP
Goal is to upgrade incubator to v4 and keep all functionality and only remove functionality that now is part of the v4 framework. Incubator will be separated into components that will have his own repository (starting with incubator-*) so it will be possible to install only needed components.

## Candidates for removal (checked are approved)
- [x] Phalcon\Acl\F

[2019-07-28 19:00] ruudboon commented on #888
For v4 I've upgraded to php-unit 7. For v8 I'm waiting for this one. https://github.com/Codeception/Specify/issues/46

[2019-07-29 13:03] EOM opened #913 "Hi in V4 Phalcon\Db\Adapter\Pdo add support MSSQL and Oracle ..?"
Hi in V4 Phalcon\Db\Adapter\Pdo add support **MSSQL** and  **Oracle** ..?

[2019-08-15 16:08] wajdijurry opened #914 "Mongo extension is deprecated"
https://github.com/phalcon/incubator/blob/08ab1a938d8160a2f0d1df535822ecc86e85220e/Library/Phalcon/Validation/Validator/MongoId.php#L43

As you see, the validator checks for "mongo" extension, which is deprecated. This validator should be updated.

Thanks!

[2019-08-18 08:50] #914 closed

[2019-08-22 11:08] maxttor opened #917 "V4: Can't install for phalcon v4"
when I try to install 4.0.x version i get error about version of phalcon

composer:
{
    "require": {
        "phalcon/incubator": "4.0.x"
    }
}

Error:
Problem 1
    - The requested package phalcon/incubator 4.0.x is satisfiable by phalcon/incubator[4.0.x-dev] but these conflict with your requirements or minimum-stability.

### Details

* Phalcon Framework version: 4.0.0-beta.2
* Phalcon Incub

[2019-08-22 11:12] ruudboon commented on #917
Incubator 4.0.x is not released yet. Phalcon 4 is still in beta and we're in the process of upgrading all the related packages. See https://github.com/phalcon/incubator/issues/911 also.

[2019-08-22 11:12] #917 closed

[2019-08-29 09:52] sergeyklay opened #919 "Update Travis CI configuration for v4"

[2019-08-29 09:53] sergeyklay commented on #919
/cc @SidRoberts Could you please help us with Travis CI. Feel free to use cphalcon/zephir as a template.

[2019-09-01 17:20] cottton opened #922 "(Secruity|DataHandling) MongoCollection toArray contains DI and more"
Related: https://github.com/phalcon/incubator/issues/908

* Phalcon Framework version: 3.1.2
* Phalcon Incubator version: 3.0.x
* PHP Version: 7.1.30

Test script:

    class User extends Phalcon\Mvc\MongoCollection
    {
        public function getSource()
        {
            return 'user';
        }
    }

    $model = new User();
    $model->foo = 1;
    $model->create();

    /** @var User $

[2019-09-01 19:00] cottton commented on #922
Note: for w/e reason cphalcon does return `NULL` on `::getReservedAttributes`.
It looks like all attributes WOULD be filtered in there.
No idea atm why this return NULL ...

[2019-09-11 21:39] cottton opened #925 "\Phalcon\Http\Client\Provider\Curl Throwing Exception with string "curl" as code"
See: https://github.com/phalcon/incubator/blob/08ab1a938d8160a2f0d1df535822ecc86e85220e/Library/Phalcon/Http/Client/Provider/Curl.php#L48

Is it me? Tracing this back i see the `HttpException` extending PHP `\Exception` - so an int is expected.
What was this `..., 'curl'` for?
_I think this is in all versions_

[2019-09-16 10:15] calinrada opened #926 "Version needs bumping for 3.4"
https://github.com/phalcon/incubator/blob/78bdf9f0a095f9696ae3f9e56a833f2e0887eec5/composer.json#L34

This package tag is failing for Phalcon 3.4 . It needs to be updated.

[2019-09-16 10:19] ruudboon commented on #926
I got a pull pending. For now you could use
[code]

[2019-09-16 10:22] calinrada commented on #926
Cheers!

[2019-09-16 12:32] ruudboon commented on #926
Closing this. Fixed in 3.4.x branch and will be part of next release.

[2019-09-16 12:32] #926 closed

[2019-09-16 14:22] sergeyklay commented on #926
Just released v3.4.6 with a hotfix

[2019-09-19 08:38] sunz5010 opened #930 "write concern object cannot be empty when I use "findOneAndUpdate""
my incubator version is "3.4"
when I upgrade MongoDB from 4.0 to 4.2
it shows `write concern object cannot be empty` when I use `findOneAndUpdate` command
I have to add option

[code]

it works on MongoDB 4.0 if I didn't give writeConcern, but it not works on 4.2 version

[2019-10-09 09:43] pedroresende opened #931 "PHPUnit 8 not supported"
### Expected and Actual Behavior

When I attempt to use PHPUnit 8, I have the following error
[code]

### Details

* Phalcon Framework version: 3.4.4
* Phalcon Incubator version: 3.4
* PHP Version: 7.2.23
* Operating System: Debian 9

[2019-10-09 10:41] Jeckerson commented on #931
Duplicate - https://github.com/phalcon/incubator/issues/888

For now, use `phpunit v7`.

[2019-10-09 10:41] #931 closed

[2019-10-15 16:41] ghost opened #932 "[NFR]: MediaInfo Like Feature"
Request for something similar to [MediaInfo](https://mediaarea.net/en/MediaInfo) in Phalcon at least at very basic level that reads ``mkv``, ``mp4`` and ``avi`` file metadata like; file-size, file-time, video-stream-codec, audio-stream-codec, encoded-date, video-bitrate, audio-bitrate. It an also include basic info about ``jpg``, ``png`` and ``gif`` files. Maybe have a namespace for it like; ``Pha

[2019-11-02 19:02] KyleFromOhio commented on #782
I had this same issue.

**I rebooted server and error disappeared.**
Might have been caused by some php package updates or linux kernel updates. No idea.

[2019-11-15 12:13] wajdijurry opened #933 "Run codeception test with APC enabled"
Actual behavior:
Incubator depends  on APC extension

Expected behavior:
APC extension is dead
https://www.php.net/manual/en/intro.apc.php

Incubator should not depend on this extension anymore, use APCU instead.

[code]
Reproduce steps:
Just run "vendor/bin/codecept run --debug

### Details

* Phalcon Framework version: (`php --ri phalcon`)
[code]
* Phalcon Incubator version: 3.4.6
* PHP Version:

[2019-12-10 09:27] Jeckerson opened #935 "[Discussion] Separate Incubator components into own repositories"
Most of users of current package, normally, using single or just few classes from whole repository. And, even some times, that logic is going into production...

My purpose is to separate each component of logic (full list located here - https://github.com/phalcon/incubator/issues/911) into separate repositories and at the end, inside composer.json, have something like this:

[code]

Current appro

[2019-12-10 09:34] ruudboon commented on #935
I like this idea. That way we can easily migrate parts to v4.
Would be good to define a naming standard for project and namespaces.

[2020-01-19 02:39] webbiegoa opened #938 "Issue after upgrading phalcon to 4.0.2"
I have set in my composer.json
 "phalcon/incubator": "^3.4.6",

I get the following:
- Installation request for phalcon/incubator ^3.4.6 -> satisfiable by phalcon/incubator[v3.4.6].
- phalcon/incubator v3.4.6 requires ext-phalcon ^3.3 -> the requested PHP extension phalcon has the wrong version (4.0.2) installed.

[2020-01-19 05:16] ruudboon commented on #938
Incubator isn't compatible with Phalcon 4 yet.

[2020-01-20 19:45] f-do commented on #938
Do you have an idea for the release date (v4)?

[2020-01-20 19:49] ruudboon commented on #938
Not yet. We need to look into what parts we can support. Some services aren't available anymore for 7.4.
What part(s) do you currently need?
You could try force install with `ignore-platform-reqs`

[2020-01-26 21:41] pushkidman commented on #938
Nope, does not work. Is there any other temporary work-around for this?

[2020-01-31 22:44] wajdijurry commented on #938
I am facing compatibility issues with Phalcon v4.x too.
One of them is removing ODM, that is, I am using Collection Manager provided by incubator.

[2020-02-03 13:24] ruudboon commented on #935
I think we can close this issue and agree this is the way we would like to support incubator in the future. Let's use #911 to track progress.

[2020-02-03 15:27] #935 closed

[2020-02-03 15:55] ruudboon opened #944 "Resultset Mock current"
Currently the mock of `current` in `Phalcon\Test\Traits\Resultset` is disabled. Need to be investigated if this can be overruled.

[2020-02-03 16:38] ruudboon commented on #938
Closing this in favour of https://github.com/phalcon/incubator/issues/911

[2020-02-03 16:38] #938 closed

[2020-03-06 10:42] JonesDM opened #939 "How do I write to name column field or new column created"
How do I write to name column field or new column created.
In this case can we use name column. Its always error. want to inlcude more.

[2020-03-06 14:44] Jeckerson commented on #939
Please specify about what part of incubator are you talking about?

[2020-03-10 03:48] wcj343169893 opened #940 "When can I support Phalcon 4"
is branch 4.0.x support phalcon4？

[2020-03-10 07:25] Jeckerson commented on #940
Still in progress of upgrade to support Phalcon 4.

[2020-04-02 10:29] cgaugel commented on #940
IBAN Validator for Example

[2020-04-02 23:21] hmfaysal commented on #940
Need Aerospike Cache

[2020-04-06 13:25] thehe commented on #919
Anything here?
Complete migration seems to get dependent on that?

[2020-04-10 20:55] #702 closed

[2020-04-10 20:56] #718 closed

[2020-04-10 21:28] #902 closed

[2020-04-12 23:19] Jeckerson commented on #888
Related - #911

[2020-04-15 21:18] Jeckerson commented on #911
https://github.com/phalcon/incubator-acl

[2020-04-19 06:14] lovefields opened #943 "When i can use phalcon/incubator 4.0.5 in composer?"
* Phalcon Framework version: 4.0.5
* Phalcon Incubator version: -
* PHP Version: 7.4.5
* Operating System: MAC / Ubuntu 16.04
* Server: Nginx

I'm making an my Docker Container.
And i using here code 'https://github.com/MilesChou/docker-phalcon/tree/master'.
So i make `composer.json` file and use command `composer install`.
But `phalcon/incubator` didn't not support `4.0.5`.
I tried to install ano

[2020-04-19 10:25] Jeckerson commented on #943
What functionality you want from incubator? Currently there is upgrade process and queue list may vary, depending on community requests.

[2020-04-19 13:00] #943 closed

[2020-04-19 13:01] lovefields commented on #943
Sorry, I saw the fix it downgrade.

[2020-05-18 00:42] zyuhel opened #945 "UnitTests helper with Phalcon 4.0"
### Expected and Actual Behavior

When using UnitTestCase class from incubator it shows following error

[code]

### Details

Reason of this error is changed namespace from Phalcon\DiInterface to Phalcon\Di\DiInterface and details of interface in Phalcon\Di\InjectionAwareInterface

* Phalcon Framework version: 4.0.2
* Phalcon Incubator version: composer v4.0.0-alpha.1
* PHP Version: PHP 7.2.24
* O

[2020-05-18 10:53] Jeckerson commented on #945
For Phalcon `v4` you have separate repository and composer package

* https://github.com/phalcon/incubator-test

[2020-05-18 16:15] zyuhel commented on #945
Ok, thank you, so i will close issue and pr?

[2020-05-22 19:09] Jeckerson commented on #945
Yes please

[2020-06-05 08:17] colinberlinger commented on #940
I need Mvc/Model/EagerLoading for v4

[2020-06-08 13:17] mikacalvo opened #948 "Phalcon\Session\Adapter classes upgrade"
Following those guidelines https://docs.phalcon.io/4.0/en/session#custom, I listed those breaking changes :
- The namespace of extended class is wrong
- Methods : parent::_construct, isStarted, getId, getOptions (and property connection ?) belong to a Manager, not adapter
- Method open don't respect interface

I did my own adapter/manager in the meantime, hope you'll have time to implement the upg

[2020-06-08 15:21] Jeckerson commented on #948
Work in progress

https://github.com/phalcon/incubator-session

[2020-06-08 15:34] mikacalvo commented on #948
oh, such a good idea to use a side project for that. Didn't notice it. I'll test it tomorrow. Thank you for your response

[2020-06-18 21:47] Jeckerson commented on #948
Released in `v4.0.0-alpha.2`

https://github.com/phalcon/incubator/releases/tag/v4.0.0-alpha.2

[2020-06-18 21:47] #948 closed

[2020-06-18 21:49] Jeckerson commented on #911
https://github.com/phalcon/incubator-session

[2020-06-19 14:55] mikacalvo commented on #948
`
$di->set('session', function () {
    // Create a connection
    $connection = new Mysql([
        'host'     => 'localhost',
        'username' => 'root',
        'password' => 'secret',
        'dbname'   => 'test',
    ]);

    $session = new Database($connection, 'session_data');
    $session->start();

    return $session;
});
`

I think you missed a doc update. It's still different from Ph

[2020-07-08 18:25] #945 closed

[2020-07-13 16:57] Jeckerson opened #950 "Duplicate entry session id on high load"
### Expected and Actual Behavior

[code]

### Details

* Phalcon Framework version: 4.0.5
* Phalcon Incubator version: incubator-session v1.0.0
* PHP Version: 7.4

[2020-07-29 18:39] Jeckerson commented on #911
https://github.com/phalcon/incubator-test

[2020-07-29 20:22] Jeckerson commented on #911
https://github.com/phalcon/incubator-logger

[2020-09-02 20:55] Jeckerson commented on #911
https://github.com/phalcon/incubator-config

[2020-09-16 12:34] Jeckerson opened #956 "Implement lazy write for session adapters"
Same feature request as here - https://github.com/phalcon/cphalcon/issues/15157

[2020-09-16 15:39] #956 closed

[2020-11-17 12:59] Jeckerson commented on #919
As `v4` will be with modular approach, where each component has own repository. This issue is redundant.

[2020-11-17 12:59] #919 closed

[2020-12-05 14:23] jenovateurs commented on #940
Hi @cgaugel,
I've just finished to migrate Incubator-validation to Phalcon v4.
You can find Iban Validator. Here is the repo:
https://github.com/phalcon/incubator-validation

[2020-12-05 15:29] Jeckerson commented on #940
On packagist - https://packagist.org/packages/phalcon/incubator-validation

[2020-12-05 15:56] Jeckerson opened #957 "Fix CI in Session component"
https://github.com/phalcon/incubator-session/runs/1503822348?check_suite_focus=true

[2020-12-17 20:22] Jeckerson commented on #957
Fixed.

[2020-12-17 20:22] #957 closed

[2020-12-19 21:58] #558 closed

[2021-01-06 19:22] Jeckerson opened #958 "Add support of incubator-events with phalcon 4.1"
### Expected and Actual Behavior

[code]

[code]

### Details

* Phalcon Framework version: (`php --ri phalcon`)
* Phalcon Incubator version: (branch, composer version)
* PHP Version: (`php -v`)
* Operating System:
* Server: Nginx | Apache | Other
* Other related info (Database, table schema):

[2021-01-08 18:00] #950 closed

[2021-01-11 15:17] Jeckerson opened #959 "Upgrade cache component"
Only Database and Aerospike adapters.

[2021-01-11 15:18] Jeckerson commented on #940
Closing in favor: #911, #959

[2021-01-11 15:18] #940 closed

[2021-01-15 02:39] arlonlove opened #960 "ext-phalcon 4.0.5 composer install phalcon/incubator error."
- phalcon/incubator[v3.4.0, ..., v3.4.5] require ext-phalcon ~3.3 -> it has the wrong version (4.0.5) installed. Install or enable PHP's phalcon extension.
    - phalcon/incubator v3.4.6 requires ext-phalcon ^3.3 -> it has the wrong version (4.0.5) installed. Install or enable PHP's phalcon extension.

[2021-02-20 17:16] Maximskv opened #961 "DB Session adapter corupts session data with Postgresql DB"
### Expected and Actual Behavior

When using the Db session adapter with Postgresql the session fails to be written and read properly.
The adapter serializes the `session->data` and tries to store the result in a text field. The serialized `session->data` text has null bytes. Postgresql is omitting everything after the first null byte resulting in cropped `session->data` that cannot be read, rende

[2021-03-08 13:39] Jeckerson opened #964 "Update Translate Adapters to v4"
Existing Adapters

https://github.com/phalcon/incubator/tree/4.0.x/Library/Phalcon/Translate/Adapter

Adapters left to migrate:
* CsvMulti
* Mongo
* Redis

Adapters to drop:
* ResourceBundle

Related: #911

[2021-03-17 11:50] Jeckerson commented on #960
Duplicate #911

You can use `alpha` version of `v4` or use specific incubator components inside your composer.json.

[2021-03-17 11:50] #960 closed

[2021-03-19 08:14] #939 closed

[2021-03-19 08:20] Jeckerson opened #965 "Review Annotations component"
Repository - https://github.com/phalcon/incubator-annotations

* Remove Aerospike adapter
* Review code
* Fix CI
* Improve code coverage
* During implementation consider this issue - https://github.com/phalcon/incubator/issues/933

[2021-03-19 08:24] #586 closed

[2021-03-25 10:58] Jeckerson opened #966 "Update CLI component to v4"
https://github.com/phalcon/incubator/tree/4.0.x/Library/Phalcon/Cli

* Review all files and folders
* Try to implement all existing functionallity
* Min PHP version: 7.2

[2021-03-28 14:06] Jeckerson commented on #933
Will be fixed in v4 of Incubator or can be used in as separate package - https://github.com/phalcon/incubator-annotations

[2021-03-28 14:06] #933 closed

[2021-03-28 14:10] Jeckerson commented on #965
Done, release made - https://github.com/phalcon/incubator-annotations/releases/tag/v1.0.0

[2021-03-28 14:10] #965 closed

[2021-04-11 20:18] Jeckerson opened #967 "Update Db Adapters to v4"
Only Oracle adapter.

[2021-04-14 08:03] #964 closed

[2021-04-26 18:43] #865 closed

[2021-05-06 19:44] #967 closed

[2021-05-22 18:18] zeoharlem commented on #541
$helper->getLoginUrl(your_redirect_url, ['email']);

add the email scope like the above example... this solved the problem for me

[2021-09-30 12:08] aadi99999 commented on #930
I am facing the same issue.

[2021-10-01 03:58] raizadattn commented on #930
Hi All, i am also facing the same issue, is this resolved on 4.4.2?

[2021-10-24 15:28] Jeckerson opened #969 "Update `README.md` in mongoDB repository"
* Add description
* Add bootstrap code
* Add code examples

Repository - https://github.com/phalcon/incubator-mongodb

[2021-11-03 17:26] ZMNOTZ opened #970 "Uncaught Error: Class 'Phalcon\Mvc\Collection' not found"
### Expected and Actual Behavior

[code]

[code]

### Details

* Phalcon Framework version: (`php --ri phalcon`)

  phalcon => enabled
  Author => Phalcon Team and contributors
  Version => 4.1.2
  Build Date => Oct  4 2021 21:24:23
  Powered by Zephir => Version 0.12.21-8a412a1

  Directive => Local Value => Master Value
  phalcon.db.escape_identifiers => On => On
  phalcon.db.force_casting => Of

[2022-02-08 01:05] lifewcody opened #971 "'collectionManager' or 'collectionsManager'"
### Expected and Actual Behavior

There are two difference instances of collection(s)Manager

[code]

[code]

### Details

* Phalcon Framework version: 4.1.0
* Phalcon Incubator version: compoer 1.0.1
* PHP Version: 7.4.27
* Operating System: Ubuntu 20.04
* Server: Nginx + FPM
* Other related info (Database, table schema): MongoDB